[2014-10-13 19:02] KarnSaheb opened #1 "Load from url"
I seem to be not be able to load gifs from a external url, would be amazing if you could direct me on how to do so.
Also, how do I use the play and stop feature?

Otherwise, this is an amazing library! Congrats!

[2014-12-29 04:42] ermau opened #2 "Deadlock at System.Windows.Media.Composition.DUCE.Channel.SyncFlush()"
I'm supplying a bound in `FileStream` to `AnimationBehavior.SourceStream`. The image appears to load (as pushes other items in the `ListBox` away to take up its size), but immediately after my application deadlocks. The main thread always has a callstack of:

[code]

[2015-01-04 01:41] thomaslevesque commented on #2
OK, I tried it with a similar scenario (ListBox with images bound to a Stream property on each item), and I couldn't reproduce the issue... for me it works as expected.

I'm closing the issue for now, but if you manage to narrow down the cause of your problem, please let me know.

[2015-01-04 01:41] #2 closed

[2015-01-04 01:51] thomaslevesque commented on #1
Sorry, I didn't see your edit until now... there isn't a notification when a comment is edited, so it's better to add a new comment.

Have you been able to solve your problem?

[2015-01-11 16:42] alexeygritsenko opened #3 "Error : Unknown attachable member"
Error	1	Unknown attachable member 'AnimationBehavior.SourceUri' on element 'Image'	C:\Users\AlexeyW8\documents\visual studio 2013\Projects\XAMLAnimatedGalpha2My\XAMLAnimatedGalpha2My\MainPage.xaml	13	16	XAMLAnimatedGalpha2My

Screenshot here:
![ashampoo_snap_2015 01 11_19h41m26s_001_](https://cloud.githubusercontent.com/assets/10233486/5695930/e88874b2-99c9-11e4-8f65-0440b07f9a2c.png)

[2015-01-11 17:39] thomaslevesque commented on #3
That's weird... The image does appear, so it could be just a glitch in the XAML designer. Do you see this error when you compile, or just when you open the file in the designer? Are you targeting WP 8.1 ?

[2015-01-11 17:45] alexeygritsenko commented on #3
The picture is just appeared in the constructor))
But when compiling such a mistake here as in the screenshot ...
Put your library of nuget in most common wp8.1 Project and in addition to adding the code in xaml file nothing else changed.

[2015-01-11 17:50] alexeygritsenko commented on #3
If it helps, I packed the project and filled it
ftp:
http://narkomanpavlik.tv/files/XAMLAnimatedGalpha2My.zip

[2015-01-11 17:51] thomaslevesque commented on #3
I can't reproduce it. I created a new WP 8.1 project, added the NuGet package and added an image to my page with the AnimationBehavior.SourceUri property, and it compiles and runs without error.

[2015-01-11 17:54] thomaslevesque commented on #3
Just noticed something in your code... the way you declare the XAML namespace is wrong, it's the WPF syntax. In WinRT you should use `xmlns:gif="using:XamlAnimatedGif"`

[2015-01-11 18:28] alexeygritsenko commented on #3
Yes, thank you! Now it works.
However, compared with the player on Android, animation and retarding hangs slightly.
But this is the Alpha version. Thank you for a good start.

[2015-01-11 18:28] #3 closed

[2015-01-11 18:29] thomaslevesque commented on #3
Yes, I'm aware of this. I have a few ideas to improve performance, but I haven't found the time to work on this project lately...

[2015-01-13 02:27] bitsmithsys opened #4 "Looks like last frame may be skipped"
Thomas,

I just found this project tonight.  It looks great, however, it looks like there may be an issue with the last frame not being drawn.  In one of my GIFs, it results in the final letter not appearing and there being remnants of the final image when the animation repeats.  In another, the user action isn't completed.  If you'd like, I get make the files available to you privately.  They wer

[2015-01-13 08:37] thomaslevesque commented on #4
Yes, this is a known issue. On large images, sometimes it takes too long to decode and render a frame, and when it happens, the next frame is skipped to keep the timing; this causes visible glitches if the frames are combined with each other. I'm currently working on improving the performance, and I hope it will eventually be fast enough for most images.
If you think your problem is more specific,

[2015-01-14 04:40] bitsmithsys commented on #4
Thomas,

Thank you for the quick reply.  The images are somewhat large, 1650 x1064 is one of the largest ones, but they pretty simple and short animations.   I’ve uploaded three of the files to OneDrive.

http://1drv.ms/1C4Zthu

Step-1_Shoes-Animation.gif – This contains two frames.  I don’t get any motion with this file.

Charging –Station-Animation.gif – This contains three frames.  I never see

[2015-01-14 10:03] thomaslevesque commented on #4
OK, I see the problem. It's indeed a bug, and it's not related to the performance issue I mentioned. Basically, I forgot to adjust the animation duration for the last frame, so the last frame has a duration of 0. I'll fix it ASAP.

[2015-01-14 10:14] #4 closed

[2015-01-14 10:16] thomaslevesque commented on #4
Done; your images should now be rendered correctly. I updated the NuGet package as well

[2015-01-15 03:22] bitsmithsys commented on #4
They display like a charm here now.  You rock - Thanks!!!

[2015-01-16 10:27] alexeygritsenko commented on #3
I like your project, I'm going to use it in one of the student's application to Russia. How can I donate to you in the near times during the following features:
1) increase productivity and remove antsy
2) add the ability to specify the source url from the Internet
?

[2015-01-16 12:46] thomaslevesque commented on #3
Hi,

I don't understand what you mean? Which productivity are you talking about?

Well, the fact that remote URLs are not supported is actually a design choice... I want to keep the library as simple as possible, and I don't want to take dependencies on things like HttpClient. Retrieving a remote file using HTTP is beyond the scope of this project, it should be handled at the application level.

I

[2015-01-16 16:05] alexeygritsenko commented on #3
1) Well, sometimes playing the pictures works not stable as the browser for example...
2) tell me how to assign a code via MemoryStream as a source?
MemoryStream MyStream = ..... ;
myGifControl1.SourceStream = MyStream; //error, SourceStream  not found

[2015-01-16 19:52] thomaslevesque commented on #3
I'm aware of a performance problem that causes some frames to be skipped, and I'm working to fix it. Did you notice any other problem?

[2015-01-17 06:28] alexeygritsenko commented on #3
ok. In my application need to play files of size 2 - 10Mb. I noticed that there is a load on the CPU and RAM, more than it should be. But here I have to make a more detailed testing, as will the time, I will make a report and publish it in a separate topic.

ps Greetings from Russia https://drive.google.com/file/d/0B1xiK3PGIHkBT2c0YkJfN1J4U1E/view?usp=sharing

[2015-01-17 12:30] thomaslevesque commented on #3
I just released a new version that fixes some of the performance problems. You should no longer see skipped frames, and the CPU load should be a little lower.

[2015-01-17 13:16] alexeygritsenko commented on #3
Yes, It was really good! Thanks for the update! Next week will be back to your project and test as GIF will work with JPG inside FlipView

[2015-01-21 23:10] razster opened #6 "Animated Gif inside a Tooltips? (Question)"
May I ask if it is possible to use your code to display an animated GIF inside a tooltip?

i.g. If I hover over a word/button and the tooltip appears, a animated gif will play.

Thanks for any information!

[2015-01-21 23:43] thomaslevesque commented on #6
I haven't tried it, but I can't see any reason why it wouldn't work. It should work anywhere you can put an image, since it uses the `Image` control.

[2015-02-02 20:01] GyleIverson opened #7 "This image seems to hang the decoder"
This image gets the decoder into an apparent loop.
![img_81881](https://cloud.githubusercontent.com/assets/7374936/6008007/21de2de6-aad3-11e4-851e-e9268e7600bc.gif)

[2015-02-02 21:45] thomaslevesque commented on #7
Thanks for reporting, I'll have a look at it

[2015-02-02 22:17] thomaslevesque commented on #7
I can't repro... for me it works fine.
Which platform are you using (Windows Phone, Windows Store app, WPF) ? How are you loading the image?

[2015-02-02 22:23] GyleIverson commented on #7
Windows Phone 8.1 Runtime

Here is the snippet of code:

        protected override async void OnNavigatedTo(NavigationEventArgs e)

        {

            GoogleAnalytics.EasyTracker.GetTracker().SendView("View Image");

            if (e.NavigationMode == NavigationMode.New)

            {

                var currentmessageVM = e.Parameter as MessageViewModel;

                var currentmessag

[2015-02-02 22:39] thomaslevesque commented on #7
Just tried in in the WP demo app; setting the SourceUri works fine, so it must be the way you're setting the image. What kind of stream does `Service.Service.GetMedia` return? It has to be seekable, and kept open as long as the image is displayed. If you can't conveniently do that, copy it to a temporary file and use the file's URI.

[2015-02-03 02:51] GyleIverson commented on #7
Thanks for the URI suggestion. I went ahead and wrote the stream to the file system and then GIFs work consistently.

From: Thomas Levesque [mailto:notifications@github.com]
Sent: Monday, February 2, 2015 2:40 PM
To: thomaslevesque/XamlAnimatedGif
Cc: GyleIverson
Subject: Re: [XamlAnimatedGif] This image seems to hang the decoder (#7)

Just tried in in the WP demo app; setting the SourceUri works

[2015-02-03 14:01] #7 closed

[2015-02-04 22:08] thedecibelkid opened #8 "Object Reference not set if setting up programatically"
basically, it seems I can have only one! If I do the below and try to get the Controller for "ripples" at a later time I get an object reference not set error, if I swap the order in code that one is fine but bubbles is broken

[code]

[2015-02-04 23:38] thomaslevesque commented on #8
I haven't been able to reproduce the problem on my side. Can you post more code? Or better, provide a minimal project that shows the issue?

[2015-02-06 17:41] abdhoms opened #9 "How to use this control in a ListView which contains other normal (png/jpeg) images?"
Hello,

This might sound like a dumb question but I can't seem to find a way to use this inside a ListView along with normal images. I don't want to use a converter to do this.

I get my images from a 3rd party JSON source (example below) and render them into a list.

Does this control support rendering of normal images as well? Please give me some ideas on how to do this.

Thanks.

[2015-02-06 18:33] thomaslevesque commented on #9
Right now, it only supports GIF images, but I intend to support others. It will just display the static image if it's not a GIF.

[2015-02-06 18:34] thomaslevesque commented on #9
In the meanwhile, I suggest you use a ContentControl with a DataTemplateSelector; this way you can pick the template based on the image type.

[2015-02-06 18:37] thomaslevesque opened #10 "Support non-GIF images"
Currently, setting `AnimationBehavior.SourceUri` (or `SourceStream`) only works with GIF images (animated or not). As a result, you can't use the same XAML code for different kinds of image.

Desired behavior is that if the image is not a GIF, the library should just display the image normally, without trying to animate it.

[2015-02-06 18:38] thomaslevesque commented on #9
See #10

[2015-02-06 18:38] #9 closed

[2015-02-06 18:47] abdhoms commented on #10
Waiting for non-GIF image support. A suggestion...provide UI controls to play/pause GIFs.

Thanks for spending your time on improving this project.

[2015-02-21 21:53] #10 closed

[2015-02-21 21:55] thomaslevesque commented on #8
Closing this issue now; if you still encounter the problem, please provide the requested details so that I can investigate.

[2015-02-21 21:55] #8 closed

[2015-02-21 21:55] #6 closed

[2015-02-21 21:57] thomaslevesque commented on #1
http/https URLs are now supported

[2015-02-21 21:57] #1 closed

[2015-02-26 12:01] thang2410199 opened #11 "Image loaded event and Animator"
Hello, thanks for the fantastic lib. However, I have problem with getting the Animator dependency property.

I set the AnimationBehavior.SourceUri property via SetValue, and right after that attempt to get the animator, but the returned value is null.

Another thing: I want to get a call back when the gif is loaded and ready to play, so I can display a loading indicator for the image.

Thank you.

[2015-02-26 15:25] thomaslevesque commented on #11
Hi,

The two problems are related. It's because the image is loaded asynchronously, so right after you set `SourceUri`, the `Animator` isn't ready yet. I plan on adding two things:

- a `Loaded` event that is raised when the `Animator` has been created
- async versions of `SetSourceUri`and `SetSourceStream` that return a `Task` that can be awaited by the calling code

[2015-03-03 15:08] jenokizm opened #12 "performance"
Hi, I have a problem. When you use FlipView for example.
Poor performance, retarding when browsing pictures.
In output console pops up many exceptions ...
You could download my example the link http://1drv.ms/1wQux1m to check in?
![ashampoo_snap_2015 03 03_17h54m43s_001_](https://cloud.githubusercontent.com/assets/11296510/6465158/427c5a32-c1d0-11e4-9e37-2602682451d3.png)

[2015-03-03 20:12] thomaslevesque commented on #12
It looks like the images take a long time to download; do you observe the same issues with local images (e.g. images embedded in the app as resources)?

[2015-03-04 14:20] jenokizm commented on #12
No, it's not just that. Even if we exclude the GIF and only upload JPG that pops up a bunch of exceptions and the application hangs, as compared with standart control <Image>

[2015-03-04 14:28] thomaslevesque commented on #12
The exceptions are normal. The decoder part of the library tries to read the image as GIF, and throws an InvalidSignatureException if it's not a GIF. The exception is caught in a higher layer, and it falls back to just showing the non-animated image as a `BitmapImage`. It wouldn't have a big impact on performance, except that `BitmapImage` doesn't reuse the local cache, so it has to re-download th

[2015-03-04 14:52] jenokizm commented on #12
+ many "System.IO.EndOfStreamException" в XamlAnimatedGif.DLL

[2015-03-04 14:58] jenokizm commented on #12
Tell me then, how can I get the download progress of a large file to show <proggressBar> or <proggressRing> until the picture is displayed

[2015-03-04 15:21] jenokizm commented on #12
+ please check
                        <Image x:Name="ImgGifControl" gif:AnimationBehavior.SourceUri="http://new.donplat.ru/spiderman.gif" />
I have not worked (

[2015-03-04 16:57] thomaslevesque commented on #12
I don't see that anywhere in your screenshot, and I didn't see it in my own tests either...

There is no support for that in the library. If you want to see the download progress, download the file yourself and pass its local URL (or stream) to the AnimationBehavior.

[2015-03-04 18:36] jenokizm commented on #12
1) Please check work the SourceUri http://new.donplat.ru/spiderman.gif but then I have it it does not appear(
2) how to binding Stream from Custom Class?

[2015-03-04 19:31] thomaslevesque commented on #12
I don't see any issue with this image. It works exactly as expected...

What do you mean? Your question is very vague, and anyway it isn't specific to this library; you should ask on StackOverflow or on a forum.
Anyway, I don't recommend using the `SourceStream` property; it's useful in some scenarios, but there are some caveats (e.g. you must keep the stream open while the image is displayed). Wh

[2015-03-05 05:48] jenokizm commented on #12
1) yes exactly
2) ok
3) Then not to follow the stream, you might not realize what a Boolean variable "is loaded"

[2015-03-05 09:46] thomaslevesque commented on #12
Sorry, I don't understand what you're saying...

[2015-03-05 11:37] jenokizm commented on #12
I mean something like this https://github.com/thomaslevesque/XamlAnimatedGif/issues/11

[2015-03-05 11:38] jenokizm commented on #12
I need something that I can understand the state of the picture. Charged or whether it is already loaded. Depending on this show indeterminate progress bar

[2015-03-05 12:45] thomaslevesque commented on #12
As said in #11, I plan on adding this feature. Just subscribe to that issue to know when it's done.

[2015-03-18 15:14] camera-haopeng opened #13 "nameof and ?."
vs2013 does not seem to support nameof and ?. like this:_cancellationTokenSource?.Cancel();

[2015-03-18 16:27] thomaslevesque commented on #13
No, it doesn't. These are C# 6 features, you need VS2015 to build the solution.
But unless you want to modify it, you don't need to build it yourself, you can just get the library via NuGet
________________________________
De : camera-haopeng<mailto:notifications@github.com>
Envoyé : ‎18/‎03/‎2015 16:14
À : thomaslevesque/XamlAnimatedGif<mailto:XamlAnimatedGif@noreply.github.com>
Objet : [XamlAnim

[2015-03-19 09:28] camera-haopeng commented on #13
Ok, much thanks!

[2015-04-24 22:13] #12 closed

[2015-04-24 22:14] #13 closed

[2015-04-25 01:36] #11 closed

[2015-04-25 01:43] thomaslevesque commented on #11
Just added the `Loaded` event; it is raised when the animation has been fully loaded.
Note: in the WPF version, it's implemented as an attached event, whereas in the WinRT version it's a normal CLR event, because WinRT doesn't support custom routed events.

I eventually didn't add the async versions of `SetSourceUri` and `SetSourceStream`: it's not possible, because loading of the animation has to

[2015-07-04 00:32] msakdillz opened #14 "Some GIFs not displaying properly"
When using XamlAnimatedGif the GIF attached has some weird artifacts in it for some reason.

![enemy_mummy_idle](https://cloud.githubusercontent.com/assets/8201238/8505830/9f9dd64e-21c2-11e5-9b5e-c8c7a0578cba.gif)

[2015-07-04 07:31] thomaslevesque commented on #14
Uh. That's weird indeed. I'll look into it.

[2015-07-04 08:22] #14 closed

[2015-07-04 08:24] thomaslevesque commented on #14
Fixed in 1.0.0-beta3

[2015-07-06 05:12] msakdillz commented on #14
Works perfect , Thanks!

[2015-08-17 00:24] sskodje opened #19 "Index out of range exception"
http://i.imgur.com/MMSvD9j.gif

This GIF crashes the library with System.IndexOutOfRangeException.

It was resized and optimized with http://ezgif.com/optimize. The original that works is here: http://i.imgur.com/sPwgpLj.gif

It DOES fix the crash if you change CodeTable.Add like this:

[code]

But i have no idea if it has any unintended consequences.

[2015-08-17 07:54] thomaslevesque commented on #19
Thanks for the report, I'll look into it.

[2015-08-17 08:58] thomaslevesque commented on #19
Your fix seems to work, but I have to check a few things to be sure it makes sense. I wrote that code a while ago, and the subtleties of LZW decoding are not very fresh in my mind ;)

[2015-08-17 20:15] thomaslevesque commented on #19
OK, I understand a bit better now. In other GIF images I had looked at, when the code table was full, the next code in the stream was always the clear code, which is an indication to reset the code table. It's not the case here; the optimizer must have decided that it was more efficient to reuse the same codes rather than resetting the code table. The code didn't allow for that, hence the error.

[2015-08-17 21:30] #19 closed

[2015-08-17 21:33] thomaslevesque commented on #19
Fixed in 1.0.1

I also fixed an issue where the decoding error wasn't properly reported via the `Error` event. Instead it was causing a NullReferenceException when trying to raise the event... oops!

[2015-08-18 01:08] sskodje opened #21 "bug in animator dispose"
hey again!

This one got me on a bug hunt for over an hour :)

In Animator class, there is a couple small errors that in some situations causes a crash when disposing.

First off, in Animator.Play():

[code]

Then, in dispose:
[code]

[2015-08-18 07:52] thomaslevesque commented on #21
Hi sskodje,

Thanks for investigating the issue!

You're right, the `CancellationTokenSource` initialization is clearly incorrect, I'll fix it. Regarding the issue in `Dispose`, the problem probably occurs when we dispose the stream before the code using it had a chance to take the cancellation into account. I'm not comfortable adding a delay there, because we don't know how long it will take for

[2015-08-18 11:09] sskodje commented on #21
Yeah, you're right. It was me getting stuck on a first chance exception, then a null reference exception. You new release works.

[2015-08-19 22:12] #21 closed

[2015-08-19 22:15] thomaslevesque commented on #21
Fixed in 1.0.2

[2015-08-20 14:25] sskodje opened #23 "Async issue potentially leading to memory leaks."
Hello!

When the Animator class is instantiated in AnimationBehavior, it is done in an async way.
[code]
where it fetches the image from wherever the URI is pointed.

The issue i found, was that one might load an URI as animatedsource on an image. This might take a few milliseconds of an image in memory, or it could take several seconds over the internet. Before the source is resolved and an Anima

[2015-08-20 22:46] thomaslevesque commented on #23
Hi Sverre,

I did notice a leak a few days ago, when changing the current image very quickly in the demo app, but didn’t have time to investigate where it was coming from. Your analysis seems correct. I’ll look into it as soon as I can, but I’m on vacation for a few days with no access to my dev PC, so it will have to wait until next week.

Thanks for your bug reports by the way. You found 3 serio

[2015-08-20 23:49] sskodje commented on #23
Hehe, i'm working on migrating my application from WpfAnimatedGif to XamlAnimatedGif, and just bumped into these little problems on the way. I guess the app was a good stress tester :)

Got rid if memory usage into the hundreds though..

[2015-08-28 12:50] thomaslevesque commented on #23
OK, just had a look at this issue. Actually I don't think this is related to the Image control being unloaded, because I can reproduce it in the demo app, where the image control is never unloaded.

I see a possible reentrancy issue that could cause an Animator to not be disposed when it should, but it should still be garbage collected (which would cause the finalizer to call Dispose). The only pl

[2015-08-28 22:36] #23 closed

[2015-08-28 22:38] thomaslevesque commented on #23
Hi Sverre,

It should be fixed in 1.0.3; I'm no longer able to reproduce the leak. The fix is to check if the source has changed after CreateAsync returns; if it has, just dispose the newly created `Animator` object.

[2015-08-28 22:45] thomaslevesque opened #25 "Optimize scenario with same animation is displayed multiple times"
Currently if the same GIF animation is displayed multiple on multiple `Image` controls, each `Image` will have its own independent `Animator` running. This is

1. very inefficient
2. usually not desirable, because the animations won't be synchronized

Envisioned solution: use a cache mechanism similar to the one used in WpfAnimatedGif. The same `Animator` object will be used on all `Image` control

[2015-09-03 09:01] MugurelGiurcanu opened #26 "optional compresion streaming"
In case that an control contains large number of big animated gifs ( let's say more then 200, like in chat apps happens frequently ), and there is no much processor available, the animation stops. I assume that is caused by using compression streaming. ( because in WpfAnimatedGif, the applications works perfectly until it cracks ). So it will be an big plus if the XamlAnimatedGif let this option (

[2015-09-03 09:17] MugurelGiurcanu opened #27 "Free the memory/ processor if the Image is removed from it's parent. (or notify some how that the deletion will happen)"
In case that the image is removed from it's parent, animation control is not reacting. Also there is no possibility to delete the animation control in case that I know when an image will not be used any more. This cause memory leaks and/or the processor is used for useless operations.

BY EXAMPLE. Consider that i have an chat app and the animated gifs are emoticons. If the application remains open

[2015-09-03 10:11] thomaslevesque commented on #26
I see the problem, but it would be very difficult to make it optional. It would require rewriting large parts of the library. Also, one of the main reason why I created XamlAnimatedGif was to solve the memory issues of WpfAnimatedGif; making this change would reintroduce the memory issues.

There are other improvements that could be done to solve your problem, though:
- reuse the same `Animator` w

[2015-09-03 10:13] thomaslevesque commented on #27
Good point; I'll see what can be done to improve this.

In the meanwhile, you can just clear the `AnimationBehavior.SourceUri` from the image before you remove it.

[2015-09-14 03:11] EDiaos opened #28 "How to show image download progress?"
Some time,our project need the image download progress at code.
Can we add progress action to method,and we can use like this:

  _gifAnimation.InitAnimation(img, new Uri(...), (progress) =>
 {
       ShowProgress(progress);
})

[2015-09-14 08:05] thomaslevesque commented on #28
The ability to download images automatically was only added as an afterthought, and I still think it's a bit out of scope for this project. So I'm reluctant to add new features related to it...

My advice would be to download the image manually, so that you can follow the download progress yourself.

[2015-09-14 09:28] EDiaos opened #29 "some image not working in XamlAnimatedGif"
I found this gif not working well in XamlAnimatedGif
http://ww1.sinaimg.cn/large/a6c17c09gw1ertpqt57btg20go08cnpu.gif

I don't know how to fix it,can you help me,Thank you very much

[2015-09-14 09:43] EDiaos commented on #28
Thank you very much,if download the image manually do myself,I have to manage the cache. I think this is not the best solution.
So,I had changed UriLoader to add a method，and add GifAnimation.cs to project to fix using progress in Animation.
If you can merge code to the project, and I think it can help more people

 private static async Task DownloadToCacheFileAsync(Uri uri, string fileName,Action

[2015-09-14 09:50] thomaslevesque commented on #28
It's not that simple... in your case it works because you included the code directly in your project, but UriLoader is not part of the public API, so there would be no way to access it from client code.

I see that there is a `DownloadProgress` event in the `BitmapImage` class, so perhaps it would make sense to add one to `AnimationBehavior`; maybe I'll add it at some point.

[2015-09-14 09:58] thomaslevesque commented on #29
The problem is that this GIF uses an unknown value for the frame's disposal method. According to [the spec](http://www.w3.org/Graphics/GIF/spec-gif89a.txt), there are 4 values defined:

And this GIF uses the value 5, which is "to be defined".

It seems to work if I handle it the same way as for the value 0, so I'll do that. However there might be images for which it won't work...

[2015-09-14 10:15] EDiaos commented on #29
Many thanks for your contribution, I think it will be better and better.

[2015-09-14 23:00] #29 closed

[2015-09-14 23:02] thomaslevesque commented on #29
Fixed in 1.0.4

[2015-10-13 14:22] Xiard opened #32 "Any issues with VS2015 crashing w/ UWP app?"
Have you seen any issues with VS2015 freezing when using XmlAnimatedGif?  I just installed the package today, and VS either freezes trying to run my app, or freezes when I shut the app down after it launches.  It's a big project, and VS2015 isn't rock solid, so who knows if this has anything to do with your package.  But it did start happening after I installed it.  Going to try uninstalling it an

[2015-10-13 14:24] thomaslevesque commented on #32
No, I haven't noticed anything like that. However I haven't used XamlAnimatedGif a lot recently, and I have barely tried it in a UWP app, so I could have missed it... I'll give it a try when I can and see if I can repro.

[2015-10-13 15:01] Xiard commented on #32
FYI, I uninstalled the package, rebooted, did a clean build, and I’m still having VS freezes.  So I think it’s nothing to do with your package.

[2015-10-13 16:01] thomaslevesque commented on #32
Good to know, thanks.
Good luck finding the cause of the problem!

[2015-10-13 16:01] #32 closed

[2015-10-18 09:25] DarkAngelFR commented on #27
Hello,
  I've been using the control to show a GIF in a "popup" control that is shown when calling server (rest service). This popup is shown between pages of the app.
  If you navigate a lot, the CPU is overloaded and handles goes up due to the component not properly closing (found it using VS diagnostics tool). Clearing the navigation stack and looking at GC collect does'nt help. The app is beco

[2015-10-18 12:54] thomaslevesque commented on #27
Setting SourceUri to null *should* work... maybe I should requalify this as a bug. Could you post a small project that reproduces the issue to help investigate ?

[2015-10-18 19:04] DarkAngelFR commented on #27
Hello,
Thanks for quick response, I will do a small project to reproduce (my guess is that it comes from popup stuff). Do you mind if some comments are in French? ;-)
Will send you the zip tomorrow morning (french time).
Regards.

[2015-10-18 19:33] thomaslevesque commented on #27
Pas de problème, je devrais pouvoir m'en sortir ;)

[2015-10-19 06:15] DarkAngelFR commented on #27
Hello,
  To make this easier, my message will be in French. To english people : it's just a sample that shows the issue using the control in a Popup. I suppose Thomas (or myself) will give the solution (I hope) in English.

Bonjour,
  Je me doutais que le français ne poserait pas de soucis!
  J'ai mis un petit projet démo sur mon drive : http://1drv.ms/1jwxrIT
  Pour reproduire le bug :
    - Lanc

[2015-10-20 18:07] jaybp opened #33 "Add Rewind method to Animator class"
_(original title was **Missing GotoFrame() in Animator class**)_

This option was present in the WpfAnimatedGif and is missing here.
It allowed to set the GIF to a specific frame.

[2015-10-20 19:15] thomaslevesque commented on #33
Yes, I know... This feature is pretty difficult to implement, because each frame might depend on the previous frame, so I can't just directly jump to frame X, I have to render the previous frames as well, and rendering frames takes time, especially for large images. WpfAnimatedGif didn't have this problem, because all the frames were fully rendered in advance, so I just had to display them.

I'll

[2015-10-20 19:18] jaybp commented on #33
Is there a way to reset it to the initial frame. I'm looking for a way to reset the GIF to play from the beginning after its paused (but not complete).

[2015-10-20 19:21] thomaslevesque commented on #33
Currently the only way is to clear the SourceUri and set it again.

However it would probably not be too hard to implement a real "Rewind" method, since the first frame never depends on another frame. If you want to try to do it yourself, I'll be glad to accept a PR ;)

[2015-10-20 19:22] jaybp commented on #33
Ok, thank you. Will try and implement a reset function.

[2015-10-22 22:51] thomaslevesque commented on #27
I think I found where the problem was coming from. Not only the `Animator` wasn't disposed when the image was unloaded, but it was created even if the image was not yet loaded.. I changed the code to defer loading the animation until the `Image` is loaded, this seems to fix the problem. (of course I also added code to dispose the `Animator` when the image is unloaded)

@DarkAngelFR, could you plea

[2015-10-23 05:45] DarkAngelFR commented on #27
Hello,
  Thanks for quick response! I will get the branch and integrate this build in my project to test, I was using nugget package so will need few time to do this ;-) will try to do this before end of today so if it seems nice I may send it to real life test Monday ^-^

[2015-10-23 13:39] DarkAngelFR commented on #27
Hello,
  We made tests with demo app and looks like CPU is a lot better, no more memory overload (still a little but hard to say if it's a leak or if it's just waiting for GC to collect), handles looks better also ;-) great fix in few lines of change :+1:
  We are integrating this in our main application that is being tested by business teams next week. I propose we let them validate the fix so yo

[2015-10-23 14:00] thomaslevesque commented on #27
OK, thanks for the feedback

[2015-10-24 09:00] DarkAngelFR commented on #27
Hello,
  We found an issue due to change made in the activation of animation :(
  In our app, we display a popup "loading" that allow users to see that we are doing something in the background (connecting to remote server, getting truck weights from loading bridges, ...). When an error occurs, we show a message to the user and stay on the current page, when it's ok we navigate to next page.
  With

[2015-10-24 13:59] thomaslevesque commented on #27
OK, I see what's going on. In the Loaded event handler, I unsubscribed from the Loaded event, because I didn't consider that an unloaded control could be loaded again later. I changed the code to re-subscribe to Loaded when the image is unloaded. I fixed the code in my branch, let me know if it works for you.

No, that's not how it works ;)
You never push anything to someone else's repository; if

[2015-10-25 09:07] DarkAngelFR commented on #27
Hello,
  I checked with latest change and looks better. I have been able to make testing app crash but was when stress testing it, maybe was too fast in switch from load/unload events and that for sure won't happens in real life. We will bring this version to end-users tomorrow for double check :)
  About contribute : I was thinking of proposing changes but as in the original branch the fix27 is n

[2015-10-30 10:27] DarkAngelFR commented on #27
Hello,
  Just a quick message to confirm you that it works like a charm.
  Thanks for the fix, will wait for nuget update to remove our own build in next release ;)

[2015-10-30 10:48] thomaslevesque commented on #27
OK, thanks for confirming! I will merge the fix and update the NuGet package now.

[2015-10-30 12:52] #27 closed

[2015-10-30 12:56] thomaslevesque commented on #27
The fix is available on NuGet

[2015-10-30 16:13] matteocontrini commented on #33
I'm interested in the `Reset`/`Rewind` method as well. Thanks for the "workaround"

[2015-11-10 12:17] MugurelGiurcanu commented on #26
you have here a project with XamlAnimatedGif and XamlAnimatedGif with 2 kind of icons. One large, which baisically in my application will not be autoanimated, and small gif which will have autoplay flagg setted to True.
https://drive.google.com/file/d/0B90UNI19qmavblltMFE3ZFh1X1k/view?pli=1

[2015-11-10 15:53] thomaslevesque commented on #26
Each image is rendered separately, so the CPU has too much work to do. In my view, displaying so many animated GIFs at once has never been a realistic scenario, so I'm surprised you were able to put so many before it started freezing.

As I said before, #25 should improve this scenario when displaying the same GIF many times, since the rendering will only be done once.

[2015-11-13 15:49] MugurelGiurcanu commented on #26
I can use more then 200 large animated gif in winforms without any problem.also in html I can do that. U're telling me in wpf, which should be much better then winforms, that's not possible? As u can see in my exambple after 5 large images the performance became doubtful. I can't continue any more using this library. sorry, man I can't risk my job for that.

[2015-11-13 16:00] thomaslevesque commented on #26
Did I say that? I don't think so. Natively, WPF doesn't support animated GIFs, this is why this library exists. It's far from perfect, but it's better than nothing.

Are you trying to convince me of something? I'm doing my best to make this library as good as possible; I'm *not* trying to make everyone use it. If you don't like it, then don't use it; no need to apologize...

(as a side note, I rea

[2015-11-13 16:00] #26 closed

[2015-11-13 18:05] MugurelGiurcanu commented on #26
You should consider that feedback as an fowarded one. I have an
"competitor"(collegue) who say that WPF it's a wrong choise for writing a
chat. Skype is made in wpf, so it's posible. But the big issue was my
experience in wpf, which was zero. practicallt that's my first project in
WPF. I cope with lot of chanllenges, exept that one Animated Gif. The
actual chat on my company is in html, that's why

[2015-11-13 18:20] thomaslevesque commented on #26
I do appreciate the feedback. As I said in my first reply, I have some ideas to improve performance. However, without native support for animated GIFs in WPF itself, it will be difficult to achieve the same performance as in Windows Forms or in a web browser. Maybe the LZW decoding could be made faster, and I'm sure there are more efficient ways to render the frames (perhaps using DirectX?), but I

[2015-11-13 19:57] MugurelGiurcanu commented on #26
I do have some ideas how to improve that and I'll try to implement them. I could contribute to that project only if you'll accept my implementations. The main ideea is to keep property dependencies for Image control as it now.

Thanks.
​

[2015-11-13 21:22] thomaslevesque commented on #26
Well, that's not something I intend to change anyway, since it would be a breaking change...

[2015-11-15 05:08] fpsqdb opened #37 "Start animator in XamlAnimatedGif.AnimationBehavior.Loaded event not work"
I set XamlAnimatedGif.AnimationBehavior.SetAutoStart(image, false) for an image and register XamlAnimatedGif.AnimationBehavior.Loaded envent, In the loaded event i add following code:
var animator = XamlAnimatedGif.AnimationBehavior.GetAnimator(image);
animator?.Play();

The problem is the animation is not start and the image show nothing, just a black screen(my background is black)

[2015-11-15 14:01] thomaslevesque commented on #37
Is the `Loaded` event triggered? Does `GetAnimator` return something?

[2015-11-15 14:16] thomaslevesque commented on #37
OK, I reproduced the problem. Not sure what's going on yet, but I'm looking into it

[2015-11-15 14:30] thomaslevesque commented on #37
Oh I see... When `AutoStart` is false, the first frame is displayed, but I don't wait until it's fully rendered before raising the `Loaded` event. So when `Loaded` is raised, the first frame is still being rendered, so when `Play` is called, there are 2 tasks working on rendering the first frame. Since there is only one stream, it messes everything up...

[2015-11-15 15:19] #37 closed

[2015-11-15 15:42] thomaslevesque commented on #37
I just published a new version that should fix the problem

[2015-11-18 09:57] fpsqdb opened #40 "UI stuck when load gif"
I load three gifs one time, each on have 2MB. The UI is not response when loading gif, but after gif shows, the UI get well. It seems that  the loading gif stream operation is on the UI thread.
My environment is Windows 10 Mobile.

[2015-11-18 13:09] thomaslevesque commented on #40
That shouldn't happen... the idea is that only the rendering is done on the UI thread. Where do you load the GIFs from? App resource, file, HTTP URL?

[2015-11-18 13:23] fpsqdb commented on #40
http url

[2015-11-18 13:27] thomaslevesque commented on #40
OK, I'll have a look

[2015-11-18 13:41] fpsqdb commented on #40
maybe i'm wrong, it happened a few hours before, now i try again and it's works fine. I can't remember what did i change. Strange.

[2015-11-18 13:49] thomaslevesque commented on #40
Remote images are cached locally; you're probably hitting the cache now

[2015-11-28 09:52] fpsqdb opened #41 "CPU performance"
I have tried many ways to show GIF in my project. but i cant find a way that have both good cpu performance and memory usage. I tried [this](https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/XamlAnimatedGif), it's a microsoft uwp sample use [Win2D](https://github.com/Microsoft/win2d) show GIF, because it use GPU to render image so it have  good cpu performance but it have

[2015-11-28 13:03] thomaslevesque commented on #41
The Win2D sample looks interesting, I'll have a look.

Interest, yes, but not plan at this point. I don't know anything about GPU programming...

[2015-11-29 23:26] thomaslevesque commented on #40
I was unable to reproduce the bug in WPF or WinRT (not tried on Windows 10 mobile because I don't have a device yet). Can you still reproduce if you clear the app's temp directory?

[2015-11-30 11:03] fpsqdb commented on #40
No, works fine, I should write a wrong code.

[2015-11-30 11:03] #40 closed

[2015-12-03 18:22] yunushkin88 commented on #26
Hello thomaslevesque!!! I loved Your library. But I don't know very well C#. Before that I wrote in C under microcontrollers. But I always try to write on C#. Maybe my question will seem trivial. Is it possible to change using your library Gif parametry of the picture. We have opened a gif and changed the frame rate in the gif or the background and closed the gif. The description says that it is p

[2015-12-03 19:07] yunushkin88 opened #42 "Possible or there is a view that only inside the program without saving in the settings file?"
Hello thomaslevesque!!! I loved Your library. But I don't know very well C#. Before that I wrote in C under microcontrollers. But I always try to write on C#. Maybe my question will seem trivial. Is it possible to change using your library Gif parametry of the picture. We have opened a gif and changed the frame rate in the gif or the background and closed the gif. The description says that it is p

[2015-12-03 19:46] thomaslevesque commented on #42
I'm not sure I understand what you're asking... Do you want to change the framerate of the GIF animation? The library doesn't support this; you can just control the number of repetitions (1 time, N times, forever, for 1 minute, etc)

[2015-12-04 05:20] yunushkin88 commented on #42
Okay, so the option Frame delay in the description of the library is just a pause rather than the frame rate. Thanks.

[2015-12-04 08:57] thomaslevesque commented on #42
No, the frame delay in the description just refers to the fact that the library reads and uses the delay encoded in each frame. This table is there just to show which aspects of a GIF image the library supports.

[2015-12-06 05:02] macqm opened #43 "Support for progressive jpeg files"
Are you planning to add support to pjpeg? I'd really want it in my app. The API I am consuming returns many .gif files in this particular format, with 'image/pjpeg' in content header.

Right now, 'image/pjpeg' files, which should be animated, remain static when using your control.

I'd be happy to help to bring this feature. Do you have an idea what it would take to add the support for progressive

[2015-12-06 14:11] thomaslevesque commented on #43
That looks like a bug in the API you're using... "image/pjpeg" is for "Progressive JPEG", which is not an animated format. It just means that the image can be rendered progressively so that you can see a lower quality version of it before it's fully loaded. It's similar to interlacing in GIF images. In any case, a GIF image should definitely not have the "image/pjpeg" content type.

That being sai

[2015-12-29 02:16] chmsee opened #44 "Failed to add XamlAnimatedGif to C++/Cx Windows Store App!"
XamlAnimatedGif is a Class Library, could not use for C++ or Javascript project.
XamlAnimatedGif should support C++ or Javascript project at next version?

[2015-12-29 13:41] thomaslevesque commented on #44
Hi,

It's a .NET library, so it only works with .NET.
To make it work with C++ projects I think it would have to be a WinRT component, but I don't know how to do that, and I don't know C++ well enough to do that.
For JavaScript, I don't think you need a library at all... animated GIFs are supported natively in HTML

[2015-12-30 10:35] fpsqdb opened #45 "Cache frames"
Would you please provide an option to cache all the frames of an image? It have a poor CPU performance in ARM(windows phone) device when prepare next frame each time. i know, it will increase the memory usage, but make a property to switch between on and off will be better.

[2015-12-30 11:07] thomaslevesque commented on #45
The problem is that the images that take a long time to render are usually also the ones that would use a lot of memory... so doing this would just trade one problem for another. But I realize it might be desirable in some scenarios. I can't promise anything, but I'll try to see what can be done. I'll need to do some profiling to see exactly what is taking too long (the decompression or the render

[2016-01-02 12:27] qinqingege opened #46 "doesnt work when image embed in a RichTextBlock"
<RichTextBlock Name="richTextBlock" HorizontalAlignment="Left" Height="502" Margin="10,0,0,0" VerticalAlignment="Top" Width="248">
            <Paragraph>
                <InlineUIContainer>
                    <font color="#FFFF0000"><Image gif:AnimationBehavior.SourceUri="Assets/111.gif"/></font>
                </InlineUIContainer>
                Mauris auctor tincidunt auctor.
            </P

[2016-01-02 12:28] #46 closed

[2016-01-02 16:04] thomaslevesque commented on #46
Did you close the issue on purpose? Did it work eventually? If not, please provide more details

[2016-01-03 18:44] #44 closed

[2016-01-03 18:45] #43 closed

[2016-01-03 18:46] #42 closed

[2016-01-05 23:36] bruti732 opened #47 "Gif animates only in design time"
It seems my gif only animates in design time.

What could be wrong?

[2016-01-05 23:37] bruti732 commented on #47
![earth](https://cloud.githubusercontent.com/assets/16567060/12130782/7ddc1728-b461-11e5-9d3d-7e4d8d9aaf65.gif)

This is the gif file I used

[2016-01-06 01:55] thomaslevesque commented on #47
How did you set the image? Could you post your code?

[2016-01-06 02:06] bruti732 commented on #47
<Image gif:AnimationBehavior.SourceUri="pack://application:,,,/TestProject;component/Images/Earth.gif"
                   gif:AnimationBehavior.AutoStart="True"
                   Width="200" Height="200" Stretch="None"/>

[2016-01-07 19:51] thomaslevesque commented on #47
I can't reproduce the issue, it works fine for me. Are you sure the build action for the image is set to `Resource`? If it's not, it will still work in the designer (not sure why), but it won't work at runtime.

[2016-01-08 04:35] bruti732 commented on #47
Hi Thomas,

Yes, the build action had been set to Resource. I am using Windows 8 and .NET 4.5. I am not sure if that even matters. I did see the gif animate in another PC for which I don't know the OS details. However, after reloading the window on the same PC, it did not animate again. :(

I have tried using both the XAMLAnimatedGif and WPFAnimatedGif, both produced the same results for me.

[2016-01-08 09:21] thomaslevesque commented on #47
OK... Is the image displayed if you just set `Source="pack://application:,,,/TestProject;component/Images/Earth.gif"` ? (just to make sure it's correctly built as a resource)
Have you tried using a relative URI?

That's really weird, because there's almost nothing in common between the implementations of the two libraries... I can't think of anything that would cause both of them to fail.

[2016-01-08 09:22] thomaslevesque commented on #47
Also, try to add a handler for the `AnimationBehavior.Error` attached event. If it is triggered, look at the exception, it might tell you something useful.

[2016-01-17 20:53] #33 closed

[2016-01-17 20:58] thomaslevesque commented on #33
Implemented in 1.0.8

[2016-01-17 22:10] #28 closed

[2016-01-17 22:11] thomaslevesque commented on #28
Implemented in 1.0.9

[2016-01-17 22:35] bruti732 commented on #47
hi, the image is displayed correctly. It is just that the animation is not working. I had added the handler for the AnimationBehavior.Error but it not even gets triggered. I am sure why it is not displaying the animation.

If it this info helps, I am using Windows 10 Pro 64 Bit, and using .NET 4.5 Visual Studio 2015.

[2016-01-17 22:48] thomaslevesque commented on #47
I have no idea what's going on... it works fine for everyone else, so perhaps you're doing something wrong. Are you able to reproduce the issue in a small project? If you can, please share the project so I can have a look.

[2016-01-17 23:03] bruti732 commented on #47
I created a small project and it works perfectly fine. :(

The window where the animation does not work is a splash screen for my WPF application. There must be definitely something that affects the display. I will investigate further

[2016-01-17 23:10] bruti732 commented on #47
In addition, I am using the MEFBootstrapper and I call the window.Show of the window with the GIF during the CreateShell method of the Bootstrapper.

[2016-01-17 23:15] bruti732 commented on #47
the gif is for a splashscreen by the way. I saw one of your comments in StackOverflow just now

[2016-01-17 23:55] bruti732 commented on #47
all working now. just need to display the splash screen in a different thread. Thanks for being patient with my questions

[2016-01-18 00:11] thomaslevesque commented on #47
Glad you found the solution to your problem ;)

[2016-01-18 00:11] #47 closed

[2016-02-05 05:06] ChinhDuong opened #50 "Cannot load gif in a referenced assembly"
I load a gif from referenced assembly by pack uri, I can see it in design mode. But in runtime mode, I cannot see it

[2016-02-05 10:43] thomaslevesque commented on #50
Could you please post your code?
Also, make sure that the build action for the image is set to `Resource`

[2016-02-05 17:27] tpola opened #51 "Silverlight support"
Hi.
My project consists of WPF/Silverlight applications that share almost the same code base.

I got a requirement to display animated GIFs, so I added Silverlight support to XamlAnimatedGif. It's working. Probably not bulletproof, but I'm happy with it.

I see from the readme page you're accepting contributions.
Silverlight is kind of outdated but if you're interested just let met know.

[2016-02-05 19:44] thomaslevesque commented on #51
Hi @tpola,

I'd be glad to accept a contribution to support Silverlight, thanks for offering! Could you please submit a pull request so that I can review the changes?

Thanks

[2016-02-06 11:36] ChinhDuong commented on #50
Thank your reply. I solved my problem

[2016-02-06 13:32] #50 closed

[2016-02-07 00:12] #51 closed

[2016-02-07 01:00] thomaslevesque opened #54 "Add support for animated ImageBrush"
As proposed by @tpola in https://github.com/tpola/XamlAnimatedGif/commit/794aade0fe7ce4385f4f7e3e066f91ca51f7234e

There are a few scenarios where it would be useful to be able to use an animated GIF as a brush. Currently it's not possible, because the `WriteableBitmap` used for rendering (`Animator.Bitmap`) is not exposed publicly.

Also, currently client code cannot create an instance of `Animat

[2016-02-09 14:23] tpola commented on #54
Sounds good.
That will make the library more versatile.

[2016-02-09 14:35] thomaslevesque commented on #54
I started working on this. Here's the approach I took so far:

- make `Animator` an abstract class, with no reference to the `Image` control
- make an internal derived class `ImageAnimator` with just the image-specific parts
- make a public derived class `BrushAnimator` with just the code related to the brush

The idea is that it will be used like this:

[code]

[2016-02-13 02:12] #54 closed

[2016-02-14 19:26] Blathers opened #57 "RepeatBehavior infinite not working for certain GIFs"
I have a bunch of images using the same code to set the URI source on the gif. I have set their RepeatBehavior to infinite, however I noticed it only works for some images. On others, they only run once and then stop. I can't compile the code myself, but I wonder if the only differences lay in the GIFs innate frame count settings.
Thanks for all your hard work!

[2016-02-14 19:52] Blathers commented on #57
This is the not repeating GIF in question!
![](http://i.imgur.com/LimrmqP.gif)

[2016-02-14 19:59] Blathers opened #58 "Image is white until loaded"
I have a static image which turns into a GIF on mouse over. This works, however there is a small delay in load time of the GIF which causes the image to temporarily turn white (while loading the URI), causing a visual flicker. Is there any way to not remove the static image source until the animated URI source is ready to be used, to allow a more seamless transition?

[2016-02-14 20:33] thomaslevesque commented on #57
It seems to work fine for me... Just tried it in the WPF demo app. The repeat count encoded in this image is "forever", so even if you don't set `RepeatBehavior="Forever"`, it will run forever.

Could you post the code you used?

[2016-02-14 20:47] thomaslevesque commented on #58
Ah, I see what you mean. The `Image.Source` is set to null very early in the process of loading the new animation. I guess this could be changed, but it's not as trivial as it seems; it might have some unexpected side effects. I'll try to think of a way to improve this.

In the meanwhile, the easiest solution is probably to use 2 images : one with the static image, and one with the GIF. You can wa

[2016-02-15 18:48] Blathers commented on #57
Thanks for the response, it actually seems that something about uploading the image to imgur fixed the issue for me as well. I found where I originally got the image, and taking it directly from there again still has issues:

![](https://45.media.tumblr.com/6a141d69564a29ac7d4071df5d519808/tumblr_o0rbb4TA1k1urr1ryo1_540.gif)

[2016-02-15 18:49] Blathers commented on #58
Thank you - Using two images works for the time being for what I need!

[2016-02-15 18:49] #58 closed

[2016-02-15 18:59] thomaslevesque commented on #57
Just tried with the new image, and it still works... Could you send a link to the raw file? I'm not sure what Github does with images included in comments, but it might also transform them.

[2016-02-17 00:11] Blathers commented on #57
Sure: here's where I got it from
http://everlastingeden.tumblr.com/post/137041867540/2-8-1-4

[2016-02-17 01:40] thomaslevesque commented on #57
Still no luck, I can't reproduce... the animation is repeating forever by default. You still haven't shown your code; the problem might be there.

[2016-02-17 02:29] Blathers commented on #57
You're right, it must be something in my code. I did a unit test and got this image working - I'll report back if I find anything interesting out!

[2016-02-17 02:29] #57 closed

[2016-02-17 02:33] Blathers commented on #57
Dang I realized my old project had an outdated NuGet version somehow! That did the trick sorry for the trouble! Coffee on me - Cheers!

[2016-02-22 16:50] nikbondarenko opened #59 "UI freeze when switching image when built to .NET Native"
Hi!
When I try set new source to your behavior it throw many TaskCanceledException, OperationCanceledException exceptions (in Output) and it freeze UI. It trow exceptions because cancellation token trow exception when cancelled..
Would you please fix it because I like your nuget but is freeze UI when I re-set source.
Regards

[2016-02-22 17:12] thomaslevesque commented on #59
Hi,

The fact that it throws cancellation exceptions is by design; these exceptions are caught, what you're seeing in Output are the "first chance exceptions" (this is when the debugger is notified that an exception is thrown, even before the exception has been caught). This is probably not what is causing the freeze.

I'll need more information to be able to help you:
- what type of application i

[2016-02-23 08:25] nikbondarenko commented on #59
Hi,
I created sample for you. I insert your code in project (remove directives for more clean view). You can find it in folder "XamlAnimatedGif".
Specific - it isn't freeze UI when you are working in Debug mode. But when i enable debuging in .Net Native - it freeze when I am changing source.
I create new mode - "Debug .Net Native" for you for more clean view of the problem.
You can find project [h

[2016-02-23 11:15] thomaslevesque commented on #59
Thanks for the sample @nikbondarenko.

I haven't done anything to support .NET native, so I can't make any guarantee about how it will work... Actually, the lib doesn't even explicitly support UWP; it was initially built for WinRT (Windows 8), and just happened to work on UWP without modification.

I'll look at your project later today and try to understand what's going on.

[2016-02-23 11:26] nikbondarenko commented on #59
Thanks, @thomaslevesque
I will wait for your fix this freezing because I love this library and I want further use it! :)

Regards, Nikita

[2016-02-23 21:42] thomaslevesque commented on #59
There seems to be a problem with OneDrive right now, I can't download the file...

[2016-02-23 21:46] thomaslevesque commented on #59
OK, managed to get it anyway... direct download is broken, but I was able to copy it to my own OneDrive, and the synchronization pulled it down)

[2016-02-23 22:35] thomaslevesque commented on #59
OK, I'm not sure what's going on... The problem seems to occur only when built for .NET Native, otherwise it works fine. And since I don't know anything about .NET Native, it's pretty hard to find the root cause...

[2016-02-23 23:27] thomaslevesque commented on #59
I just realized the problem occurs *only* when the debugger is attached. It's not the app or the library that causes the freeze, it's the debugger! If you run without debugging (Ctrl+F5), the app doesn't freeze, even with .NET Native enabled.

I realize it's still annoying when you're debugging, but since it won't happen in the deployed app, it's not a very serious issue. And anyway, if it's a bug

[2016-02-23 23:28] #59 closed

[2016-03-11 07:18] chfe910 opened #60 "How to display a gif in RichEditBox"
I know how to display an Image by:
`RichEditBox.Document.Selection.InsertImage(System.Int32 width, System.Int32 height, System.Int32 ascent, VerticalCharacterAlignment verticalAlign, System.String alternateText, IRandomAccessStream value).`

but how to insert a gif with XamlAnimatedGif in RichEditBox? Does anyone have any idea?

Thanks

[2016-03-11 08:51] thomaslevesque commented on #60
I haven't used `RichEditBox` yet, but from what I can see in the documentation, I don't think it's possible. `XamlAnimatedGif` works by providing an `ImageSource` and animating its content, but it doesn't seem possible to display an arbitrary image to `RichEditBox`, you can only pass a stream...

[2016-03-11 10:13] chfe910 commented on #60
Yes! That is the problem. I will try another solution. Thanks very much!

[2016-03-11 10:13] #60 closed

[2016-03-16 21:06] Geforcex250 opened #61 "UWP working on desktop but not on Windows 10 Mobile"
Hi !

After deploying my working project (WUP Desktop) to a Windows 10 Mobile emulator & device, I've encountered a really weird bug that made the app crash...

After a few researches, I found that the problem might come from the way the package was built on nuget ?
https://github.com/Windows-XAML/Template10/issues/558

Hope that you'll be able to find out what is going on because your Library is

[2016-03-19 23:50] thomaslevesque commented on #61
Hi,

Thanks for reporting this. The thing is, I never did anything to make this library work in UWP apps, it just happened to (mostly) work without any change... so I'm not really surprised that it fails in some cases. I'm not familiar with the error you mention, I don't even know what "XBF metadata" is... I'll look into it as soon as I can.

[2016-03-26 00:11] x000000 opened #62 "Reusing the same stream as source"
I've tried to use same stream twice, but it fails on reading gif's header because stream's position wasn't reset to 0 (after previous usage). It would be nice if library take care of position by itself.

[2016-03-28 20:12] thomaslevesque commented on #62
I guess it could do that. Anyway, I should probably add some code to check that the stream is seekable, because the library won't be able to play an animation from a stream that's not seekable.

[2016-04-05 22:36] x000000 opened #65 "Don't use the Unloaded event to dispose the stream"
When we use a gif inside of TabControl it dispose stream upon tab change and when we switch tab back it won't load an animation.

[2016-04-18 20:56] coczero opened #66 "File remains locked after loading a non-GIF image"
With WPFAnimatedGif it was possible to display other supported formats than .gif.
Is this also possible with this new library?

[2016-04-18 20:58] thomaslevesque commented on #66
Yes, it's possible. If the image is not a GIF, it will be displayed as a static image.

[2016-04-19 16:46] coczero commented on #66
Hi, thanks for the info.
I have another question.
Is it possible to load a gif in a way I can still do file operations on it?
I tried to load a dummy image before doing something to the file, but it still seems to be open if it happens too fast.

[2016-04-19 18:05] thomaslevesque commented on #66
You can unload the image by setting the `SourceUri` to null. It should dispose the file stream (i.e. close the file).

[2016-04-19 18:25] coczero commented on #66
Sadly this doesn't do it for me.
If I set the source uri to null right before I try to the delete the image I still get the message that the file is opened by my app. I also tried it with your example WPF app, just added a button which deletes the SelectedImage, same result

[2016-04-19 18:37] thomaslevesque commented on #66
Strange... I just did the same test, and the file was correctly closed (I was able to delete it). Are you sure your app isn't opening the file somewhere else? How are you loading the image? Are you using `SourceUri` or `SourceStream`?

[2016-04-19 18:41] coczero commented on #66
I am binding the SourceUri to an Uri Property.

Just for the information, this is how I changed your WPF example: (I just changed the GC button event)
`        private void btnGC_Click(object sender, RoutedEventArgs e)
        {
            GC.Collect();
            GC.WaitForPendingFinalizers();

	    string bla = SelectedImage;
	    SelectedImage = null;
	    File.Delete(bla);
        }`

[2016-04-19 19:00] thomaslevesque commented on #66
I just did this (in a new button):

            string current = SelectedImage;
            if (string.IsNullOrEmpty(current))
                return;
            SelectedImage = null;
            File.Delete(current);

The file was correctly deleted. Not sure what's going on... I don't see any reason why it works for me and not for you. Can you put a breakpoint in `Animator.Dispose` and make sure

[2016-04-19 19:04] coczero commented on #66
Unfortunately, the breakpoint is neither hit before File.Delete, nor is it hit when I comment out the File.Delete call (but I still call SelectedImage = null)

[2016-04-19 19:11] thomaslevesque commented on #66
OK, we're getting closer... Could you set a breakpoint in `AnimationBehavior.InitAnimation` and execute step by step from there? It should call `ClearAnimatorCore`, which in turns disposes the `Animator`. I'd check this myself, but since I can't reproduce the issue on my machine, it wouldn't be very useful...

[2016-04-19 19:16] coczero commented on #66
I see the problem now...
I test mostly with non-gif images, in whose cases the Animator.Dispose doesn't get called because

I tried again with some gif images and all of them seem to be deleting fine. Probably missed those because I mainly test with .pngs and .bmps.
So there's just the question left how to Dispose other imgs than gif so one can delete them :)

[2016-04-19 19:22] thomaslevesque commented on #66
Ah, I see. This line is probably the culprit:

    image.Source = new BitmapImage(sourceUri);

When used this way, `BitmapImage` keeps the file locked, and there's no way to explicitly dispose it.

Congrats, you found a bug :wink:

[2016-04-19 19:25] coczero commented on #66
Great! :)
Glad to hear that.
I am really dependent on your awesome library =D
I used WpfAnimatedGif prior to this but I had problems with it's memory management.
Yesterday I saw that you rewrote the lib. And the memory usage is really good.
Really grateful for this and I hope you can fix that bug soon :)

[2016-04-19 19:31] thomaslevesque commented on #66
Indeed, that was one of the main reasons for the rewrite. It does use more CPU, though... nothing's free :wink:

The bug should be easy enough to fix.

[2016-04-19 20:02] thomaslevesque commented on #66
Should be fixed now. Would you mind testing the new package from [this feed](https://ci.appveyor.com/nuget/xamlanimatedgif-c9wa78amsykc) before I merge and publish to NuGet?

[2016-04-19 20:14] coczero commented on #66
Just tested it, looks fine :)
Thanks for the quick fix!

[2016-04-19 20:20] #66 closed

[2016-04-19 20:25] thomaslevesque commented on #66
Merged and deployed to NuGet.

Thanks for the bug report!

[2016-04-20 15:21] Opiumtm commented on #61
I tested XamlAnimatedGif on Windows 10 Mobile. It works.
No crashes, just work very slow.

[2016-04-20 23:29] thomaslevesque opened #68 "Expose the AnimationCompleted event on AnimationBehavior"
Currently the only way to detect the end of the animation is to get the `Animator` object when the animation is done loading, and subscribe to its `AnimationCompleted` event. This is not very convenient, and can't be used directly in XAML.

The event could probably be exposed directly on `AnimationBehavior`, as an attached event in WPF (which would make it usable in XAML), and as a regular static

[2016-04-20 23:40] thomaslevesque commented on #65
Hi, thanks for the bug report. I'll look into it when I can, but I'm quite busy with other things, so I can't promise a quick fix.

[2016-05-01 23:38] Opiumtm opened #69 "Use new Composition API for UWP platform"
https://msdn.microsoft.com/library/windows/apps/dn706878

It might be more fast to use Composition API on UWP platform for rendering.

For now, even on top tier Lumia 950 smartphone GIF animation is slow and laggy.

[2016-05-02 07:48] thomaslevesque commented on #69
Hi @Opiumtm,

Thanks for the suggestion. Unfortunately I haven't really looked at UWP yet, I don't know anything about the Composition API... If you do, I'd gladly accept some help :wink:

[2016-05-15 16:12] thomaslevesque opened #71 "Rendering error when frame bounds don't fit in logical screen bounds"
As described by @x000000 in #70

For instance, in [this image](https://cdn.betterttv.net/emote/55ae376ed5e0264366129a7d/1x), the logical screen has a size of `(28, 28)`, but the second frame has its top-left corner in `(2, 3)` and a size of `(26, 28)`, which doesn't fit in the logical screen. This causes the call to `AddDirtyRect` to fail:

[code]

[2016-05-15 17:08] x000000 commented on #71
I've tried to redraw every frame completely (i.e. set AddDirtyRect(new Int32Rect(0, 0, 28, 28))), but there are some artifacts on few frames that should be fixed somehow. So setting valid dirty rect is only a part of an issue.

[2016-05-15 21:28] thomaslevesque commented on #71
@x000000, you're right, it's not enough to fix the dirty rect size. Other usages of frame width/height in `RenderFrameAsync` probably need to be fixed as well, otherwise it could end up overwriting other parts of the image. Working on it now.

[2016-05-15 22:15] thomaslevesque commented on #71
OK, it's a bit more subtle than I thought...

The image declares a frame rect of `(2,3,26,28)`, which is incorrect... but the number of pixels in the image data is actually 728 (26 * 28), which matches the information in the incorrect frame descriptor. So we have to read the pixels from the image data as specified in the descriptor, but write to the WritableBitmap buffer according to the "correcte

[2016-05-15 22:40] #71 closed

[2016-05-15 22:42] thomaslevesque commented on #71
This should be fixed in 1.1.3. The new NuGet package will be online shortly.

[2016-06-16 21:30] CheetahChrome opened #74 "Design Mode Generates Exception About not being able to find an image."
It can generate the below exception (VS2015 UP2: WPF .net 4.5.2 project) when it can't find an image in design time. Even setting toggling `gif:AnimationBehavior.AnimateInDesignMode="false"` has no effect on this error.

As reported by the designer:

'C:\{removed local path}\Views\Assets\LoadingGreen.gif'.

[code]

[2016-06-16 22:33] thomaslevesque commented on #74
Thanks for reporting this @CheetahChrome. It will be fixed ASAP.

[2016-06-16 23:31] #74 closed

[2016-06-16 23:48] thomaslevesque commented on #74
This issue is fixed in version 1.1.4

[2016-09-09 15:05] Dunge opened #77 "Binding to byte array?"
I have a C# object containing a byte array property containing the gif data instead of loading gif files on disk (so I can work in-memory and transfers gifs over wcf, without ever saving them as files on disk).

I was previously using WpfAnimatedGif and it worked perfectly, I could just do a
`gif:ImageBehavior.AnimatedSource="{Binding Data}"`
Where Data is my byte[] property.

Now I encountered th

[2016-09-11 00:06] thomaslevesque commented on #77
Hi @Dunge,

Are you sure that `Data` is never null when the `DataStream` property is called? Also, you can subscribe to the `Error` event to detect GIF loading and rendering errors.

[2016-09-12 10:12] ZeBobo5 opened #78 "Unhandled exception"
Sometimes, I've got this error on WPF version :

Description: The process was terminated due to an unhandled exception.
Exception Info: System.NullReferenceException
   at XamlAnimatedGif.Animator.Dispose(Boolean)
   at XamlAnimatedGif.Animator.Finalize()

I used the 1.1.3 version.

[2016-09-12 11:54] thomaslevesque commented on #78
Hi @ZeBobo5,

Thanks for reporting this.

As far as I can tell, the only thing that could throw a NRE in `Dispose(bool)` is if `_timingManager` is null, which is only possible if the object wasn't created successfully (error during construction). Do you see any other exception before the one that makes the app crash? You can detect errors by subscribing to the `AnimationBehavior.Error` attached ev

[2016-09-12 12:27] #78 closed

[2016-09-12 14:06] thomaslevesque commented on #78
It should be fixed in 1.1.5 which I just pushed to NuGet.

Note that it will fix the crash, but not the root cause (failure to create the `Animator` instance)

[2016-09-13 01:38] Dunge commented on #77
Thanks for the reply.

From a breakpoint, I can assure Data is never null when called.

I played a bit around by transforming DataStream to be a NotifyPropertyChanged property, and I can see that if I set the DataStream property on an event (button click, etc.) it works fine, but if it is set during the viewmodel class constructor before the window/control is shown, I get an error "Cannot access a

[2016-09-13 01:49] thomaslevesque commented on #77
Could you show more of your code?

I think it could happen if the binding happens more than once. The second time, the previous `Animator` is disposed, which in turn disposes the stream. The stream should probably not be closed if it was provided via `SourceStream`. I'll fix it soon, unless you want to take a stab at it.

[2016-09-14 17:58] coczero opened #80 "Issue with tooltip"
I have a simple tooltip that displays an image and some text. It appears when I hover over a ListVIew item. The first time I hover over it, it looks ok:

![first](https://cloud.githubusercontent.com/assets/8850301/18523653/6fc05e9a-7ab5-11e6-8b9b-005fe70d89b5.png)

But when I hover over it the second time:

![second](https://cloud.githubusercontent.com/assets/8850301/18523665/78ff40de-7ab5-11e6-9c

[2016-09-14 22:01] Dunge commented on #77
Sorry for the delay. I'm just writing to say that I did not forget about this ticket, but am currently busy on other projects.

I don't think the problem is a second binding, because it does that the first time the window display. When I change the binding to a new stream is when it work, not the other way around.

My code is in a pretty big project with tons of dependencies and I can't share it,

[2016-09-15 07:57] thomaslevesque commented on #80
This could be a bug. I'll investigate and get back to you ASAP.

[2016-09-15 12:30] thomaslevesque commented on #80
I'm unable to reproduce the issue. Could you show your XAML? Or even better, send a simple project that reproduces the issue?

[2016-09-15 12:42] coczero commented on #80
If you want to have a look on the code beforehand, you can look here:

[here ](https://github.com/coczero/SenpaiCopy/blob/master/SenpaiCopy/SenpaiCopy/Views/MainView.xaml)on line 305: is where my tooltip is defined

and [here (control xaml)](https://github.com/coczero/SenpaiCopy/blob/master/SenpaiCopy/SenpaiCopy/Views/ImageToolTipPreview.xaml)
and [here (control code behind](https://github.com/coc

[2016-09-15 12:43] thomaslevesque commented on #80
Thanks, I'll have a look

[2016-09-16 10:05] Survivon opened #81 "Stream instead save file to temp folder UWP"
Hi, I use your nuget XamlAnimatedGif in my UWP project. You save some file in temp folder. How can i use stream instead of save file. Can you add some propperty that i can choose want i save file to temp folder or use stream.
Thanks in advance. Dmitriy

[2016-09-16 10:23] Survivon commented on #81
@thomaslevesque
i want set some Uri to SourceUri and your lib insted of save file and than work with it, download it to stream and work with it and maybe some propery to dispose this stream. Or can i set some stream to SourceStream and it doesn't create file in temp.

[2016-09-16 11:47] thomaslevesque commented on #81
I'm not sure I understand what you're saying...

Setting a stream to `SourceStream` doesn't create a temporary file. The stream can be anything, but will typically be a `FileStream` or `MemoryStream`. The only case where the lib creates a temp file is when you specify an HTTP URL as `SourceUri`; it downloads to a temp file and uses that file.

[2016-09-16 15:19] Survivon commented on #81
Thank you, i'm try this.

[2016-09-16 15:21] Dunge commented on #77
Salut Thomas,

I have progress on this issue and now believe it is indeed a problem in the library, but very far and much more deep than what I first expected.

I ended up loading the library source instead of the nuget package to debug what was happening. I was having an InvalidSignatureException getting catched in the InitAnimationAsync method. I found the thrower was in the GifHeader decoding v

[2016-09-16 16:44] thomaslevesque commented on #77
Ouch, that's pretty bad... thanks for the investigation, I'll see what I can do.

[2016-09-17 19:56] thomaslevesque commented on #77
OK, I think I have a fix: https://github.com/XamlAnimatedGif/XamlAnimatedGif/pull/82

There were actually two different issues

- `Animator` was always disposing the source stream, which caused a problem in your "byte array" scenario: when the `RepeatBehavior` was changed, it caused the animation to be reinitialized, disposing the previous `Animator`, which caused the stream to be disposed as well

[2016-09-17 23:33] Dunge commented on #77
Thank your very much for the quick fix, it is appreciated.
With the new code, the gif now display properly.

But now, when I close the window hosting the gif control, I receive System.OperationCanceledException and System.Threading.Tasks.TaskCanceledException. I never really worked with Cancellation Token, so I'm not sure if this is normal or not. Should I send a cancellation signal in my window c

[2016-09-17 23:56] thomaslevesque commented on #77
Where are you seeing this? These exceptions can be thrown internally when the animation is stopped, but they should be surfaced outside the library. Are you sure they're not just first-chance exceptions that are caught later?

Anyway, I don't see these exceptions in the test project you sent.

WpfAnimatedGif wasn't doing anything to handle this; I think it must be done automatically by WPF when yo

[2016-09-18 01:34] Dunge commented on #77
Ok, thanks for the clarifications.

You are right the exceptions only appear as "first-chance" in the output window.
I also just read about MemoryStream disposing, and you are right they don't leak anything, so that's great. It seems a bit strange not to dispose something implementing IDisposable, but I like the idea of using a Converter for this, much easier than what I was going to do.

[2016-09-18 11:55] thomaslevesque commented on #77
OK, I'll merge the fix then

[2016-09-18 11:56] #77 closed

[2016-09-18 12:07] thomaslevesque commented on #77
Version 1.1.6 is deployed on NuGet (might be a few minutes before it appears in search results, because indexing isn't complete yet)

[2016-10-03 20:16] Dunge opened #84 "XamlAnimatedGif in DataGrid: No imaging component suitable to complete this operation was found."
Hello Thomas, it's me again. I got another hard one for you.

I'm getting an exception thrown when I put the XamlAnimatedGif control in a DataGrid column template and use the SourceStream property as soon as I scroll down in the DataGrid.

I thought it was about the WPF panel virtualization feature causing problem, but I don't have any problem when they are in a listbox (also virtualized). I also

[2016-10-03 23:08] thomaslevesque commented on #84
Hi @Dunge,

Thanks for the report.

According to the stack trace, it seems to be happening [here](https://github.com/XamlAnimatedGif/XamlAnimatedGif/blob/master/XamlAnimatedGif.Shared/AnimationBehavior.cs#L523), which means it has already failed to decode the stream as an animated GIF and is trying to fall back to decoding it as a simple non-animated image. But seeing this code again, there's an o

[2016-10-04 15:59] Dunge commented on #84
Yes it does, the error occurs when using the scrollbar of the DataGrid, but the first opening of the Window the first view works fine. You are probably right that the binding happens multiple time, but that's a behavior internal to the DataGrid control for optimization, not in my sample code.

Thanks for the investigation, I admit I hadn't even tried to load your source code to see where the probl

[2016-10-10 00:03] thomaslevesque commented on #84
OK, I reproduced the issue, and I think I know what the problem is: it's because the same stream is bound to a different `Image` control. Each `Image` has its own `Animator`, which seeks and reads the stream independently.

Actually, I'm not even sure this should be considered a bug; there's no way to make it work with multiple images bound to the same stream, for the same reason you can't use a s

[2016-10-10 14:29] Dunge commented on #84
Quote from my original post:

Haven't tried debugging to see if it crash exactly the same way, but I'm sure it's not working.

[2016-10-10 18:26] thomaslevesque commented on #84
@Dunge I think you misunderstood what I was suggesting. With the approach you describe, it's still possible for multiple `Image` controls to be bound to the same `RowModel`, and thus to the same stream. What I was saying is that the `Anim` property could return a new stream every time it's called.

However, I just tried it, and I still get the same error, so maybe my theory was wrong... I really d

[2016-10-23 15:14] rafalboguski opened #85 "code behind play/pause"
As in title i try to manually start animation
`ImageBehavior.GetAnimationController(image)`
results in compilation error "The name 'ImageBehavior' does not exist in the current context"

I have used this namespace
`xmlns:gif="clr-namespace:XamlAnimatedGif;assembly=XamlAnimatedGif"`

[2016-10-23 18:37] thomaslevesque commented on #85
Hi @rafalboguski,

The namespaces you use in XAML and the ones you use in code-behind are independant; just because you declare a xmlns mapping in XAML doesn't cause this namespace to be imported in code-behind.

You need to add a `using XamlAnimatedGif;` clause in your code-behind file.

[2016-10-23 21:41] rafalboguski commented on #85
Thank you for fast replay, but still ImageBehavior is not recognized
![screenshot](http://i.imgur.com/VfZ9CBA.png)
Is this proper way of manual play/pause control? That was the only solution I have managed to google.

[2016-10-24 07:40] thomaslevesque commented on #85
Ah, yes, it should be `AnimationBehavior`, not `ImageBehavior`. `ImageBehavior` was the name in my other library, WpfAnimatedGif.

[2016-10-28 14:14] jhwheuer opened #86 "Performance degrades when displaying more than 30-40 gifs"
I love this extension! Love it!
Only I need to disable it in my image grid when there are more then 3 dozen or so animations at the same time.
A browser does not have issues with that, but my UWP app grinds to almost a standstill...

Anything you can do there?

[2016-10-28 14:20] #85 closed

[2016-10-28 14:22] thomaslevesque commented on #86
Hi @jhwheuer,

Thanks for the feedback. To be honest, I'm not surprised you're having performance issues; my implementation is nowhere near as optimized as the ones in web browsers..

Unfortunately, I don't think it's possible to improve things significantly without a major rewrite. Someone [suggested](https://github.com/XamlAnimatedGif/XamlAnimatedGif/issues/86) to use the Composition API, but I

[2016-10-28 14:45] jhwheuer commented on #86
THANKS for the prompt reply!

Hmmm, any ideas to decorate an image with an indicator that there is an animation present and autostart that animation on hover? Not sure how to do that efficiently in XAML (as that would make the page even more heavy... something like gif:animateOnHover...?

Did not look at the code yet, are you holding the image data permanently in memory or are you accessing disk r

[2016-10-28 15:00] thomaslevesque commented on #86
There's nothing built-in to handle this scenario, but it wouldn't be hard to achieve. You could just set `AutoStart` to false, and react to the event in code-behind to start the animation manually.

The `AnimateOnHover` property is an interesting idea, although it's probably too specific. It could be something more generic, e.g. `IsAnimationEnabled`, so that it could be bound to `IsMouseOver` or a

[2016-10-28 15:43] jhwheuer commented on #86
RIght, then I need to read more of your docu, I guess :-P

Anything you could do to make the CPU load lighter would be great.

Oh, and maybe the time has come to allow XAML to indicate whether Mem or DIsk should be used. You could still treat that as a recommendation and go disk if memory is an issue...  gif:preferRAM or something like that. But thinking about that, that should just be the default

[2016-10-28 16:17] jhwheuer commented on #86
I am actually banging my head against the limitations of UWP. There is no BitmapImage.isAnimation... property.
Maybe you could here me out here? how do I determine if a downloaded gif actually contains an animation?
Cheers

[2016-10-28 19:06] thomaslevesque commented on #86
Well, that makes sense, since UWP doesn't support animated GIFs (or my library wouldn't need to exist) :wink:

No easy way, I'm afraid...

- using `XamlAnimatedGif`: you can assign the file to an `Image` control, and when the `AnimationBehavior.Loaded` event is raised, check the result of `AnimationBehavior.GetAnimator`. If it returns a non-null animator, then it's a GIF image, otherwise it's not.

[2016-10-28 19:21] jhwheuer commented on #86
THanks.

Jeesh, developing software for 35 years, and somehow UWP feels like back to hammer and nails...

[2016-12-07 00:38] #81 closed

[2016-12-23 22:03] coczero commented on #80
I know this is late as hell, but here is a program with which you can reproduce the bug.
[ToolTipBug.zip](https://github.com/XamlAnimatedGif/XamlAnimatedGif/files/671497/ToolTipBug.zip)

[2016-12-23 22:09] thomaslevesque commented on #80
Thanks @coczero, this should be helpful. Sorry for not getting back to you earlier, I completely forgot about this issue. I haven't worked on this project in a while...

[2016-12-23 22:11] coczero commented on #80
No worries, I was the one who didn't upload a sample project... :)

[2016-12-27 13:48] thomaslevesque commented on #80
Interesting... I can reproduce the issue when I reference the Release version of the library, but *not* when I reference the Debug version... trouble is, there's nothing different between the release and debug version, apart from the usual compiler optimizations. So I have absolutely no idea what's going on...

[2016-12-27 13:54] thomaslevesque commented on #80
That's it: when I enable compiler optimizations in the Debug build, I get the same issue. Very strange.

[2016-12-27 15:04] thomaslevesque commented on #80
OK, I really don't know what's going on. The problem clearly comes from XamlAnimatedGif, since it works with the debug build and not with the release build... But on the other hand, the problem isn't the image that is created by XamlAnimatedGif: the image itself is fine, but the Tooltip itself is too small to show it completely (you can see it easily by adding a border around the image).

I honest

[2016-12-27 15:13] coczero commented on #80
Hi, thanks for the reply.
The workaround works for non-Gif images, although I have the problems mentioned above with gif-images too.

[2016-12-27 15:16] thomaslevesque commented on #80
Really? it's not what I observed

[2016-12-27 15:29] thomaslevesque commented on #80
Another possible workaround: add this in the constructor of your `ImageToolTipPreview` class:

            var descriptor = DependencyPropertyDescriptor.FromProperty(Image.SourceProperty, typeof(Image));
            descriptor.AddValueChanged(img,
                (sender, e) =>
                {
                    var source = img.Source;
                    if (source != null)

[2016-12-27 15:42] coczero commented on #80
Really weird issue indeed.
The workaround works, thanks!

[2016-12-28 06:45] ychsue commented on #45
Thanks for your code, it is very nice.
Because I need to get the WriteableBitmaps with Delay times of a Gif file, I wrote a method for _AnimationBehavior_ as shown below to store those information. Oh, you still need to change some other stuffs in this code before it can run.
This way may not be an efficient one, but it works for me. ^_^

        {
            //* [2016-12-28 11:05] Get the stream

[2016-12-28 10:49] thomaslevesque commented on #45
@ychsue what you're doing is (more or less) what my previous library WpfAnimatedGif was doing. It works, but it uses a LOT of memory, especially for large images, and is the main reason why I chose a different approach for XamlAnimatedGif.

[2016-12-28 13:33] ychsue commented on #45
You are right. But in my case for about 8 small gifs will kill the performance, the App will be frozen. Hm... The two sides of the balance. -_-

[2016-12-29 07:00] ychsue commented on #45
Ok. the case for 8 gifs works fine on my Win10  App now. The problem is that the WriteableBitmap object is located in the UI thread. Oh man, that why it consumed almost all the performance when there are more and more cards shown on my App.
Although GPU is better than CPU for this case, anyway, it works.^_^
The way I solved this problem is by adding something into Animator.cs
1. Declare a byte arr

[2016-12-29 08:46] thomaslevesque commented on #45
Thanks for the update @ychsue, hopefully I can use this to improve the library!

[2016-12-29 09:24] ychsue commented on #45
Your package saves me a lot of energy so this is a feedback. Hope it can help someone likes me. ^_^

[2016-12-31 08:03] ychsue opened #87 "How about make the ImageAnimator as the control and the Image as a View?"
The problems I'm facing are:
1. it is hard for me to trigger the ImageOpened event when the PixelWidth and PixelHeight of an image file are analyzed.
2. The actions of Load and UnLoad are racing when I transfer the Image from one container to another one.

Both of these two problems need an object to hold the event and the best one is the ImageAnimator. If I can get the ImageAnimator by
`var anima

[2016-12-31 18:09] thomaslevesque commented on #87
It's an interesting idea. I guess I could make `ImageAnimator` public. The constructor would have to be private though, because creating an `ImageAnimator` involves async operations, but the static `CreateAsync` methods could be exposed.

Yes, although I would probably pick a different name ; it would basically do the same thing as `AnimationBehavior.SetAnimatorCoreAsync`

That's a bit more involv

[2017-02-19 04:45] Danthekilla opened #88 "Horrible performance!?"
I know there are some old posts about performance with some half finished ideas and code to improve it but I cant find anything solid.

I need to show 16 64 by 96 gifs and have them all animating, they are running at 30fps.

Currently on my 4ghz 6 core machine once I go past around 14 my UI becomes only semi intractable and I get general framerate hiccups and hitches.

Is there anyway to cache the

[2017-02-19 05:11] SirDragonClaw opened #89 "Issue with Rewind method. Graphics artifacts."
Calling the code below on a mouse exit event causes the issues in the video below

[code]

https://youtu.be/8hvYihvWe8I

[2017-02-19 17:16] thomaslevesque commented on #89
Hi @Danthekilla,

This is definitely a bug, thanks for reporting it. It seems to be related to partial frames (a technique used to reduce the size of GIFs when only part of the image changes between frames), so I suspect it doesn't happen with all GIFs. Could you please provide the GIF for which you noticed the problem? It will make the bug easier to reproduce.

[2017-02-19 17:20] thomaslevesque commented on #89
Also, what kind of app is it? WPF? UWP?

[2017-02-19 17:34] thomaslevesque commented on #88
Well, as I said elsewhere, one of the main reason I made XamlAnimatedGif was to avoid the memory issues caused by having all the frames in memory in WpfAnimatedGif. So the current behavior is by design. That being said, I'm open to introducing an option to cache the frames (see #45); I just haven't got around to do it yet. It's hard to find motivation to maintain a library I don't use... If you're

[2017-02-19 23:59] Danthekilla commented on #89
Hey @thomaslevesque,

Its a UWP app (game actually) I was testing your API before fully integrating it. These are two of the sample gifs that I have seen the issue with (although the issue looks different on both of them)

![4](https://cloud.githubusercontent.com/assets/2770203/23108062/7faf51a8-f75b-11e6-9420-070ec5f8be5b.gif)
![1](https://cloud.githubusercontent.com/assets/2770203/23108063/7fb02

[2017-02-20 00:09] Danthekilla commented on #88
I am but don't really know where to start, my experience with XAML is very limited I have never even created a custom control before. I am primarily a networking and graphics programmer.

I am familiar with streams and memory streams but don't know how to interface it into a XAML control. I suppose I can have a look around the source.

Out of curiosity what kind of app did you make it for? I cant

[2017-02-20 09:10] thomaslevesque commented on #89
OK, I'll have a look ASAP.

[2017-02-20 09:31] thomaslevesque commented on #88
Well, actually it has little to do with XAML. It's not even a control (it's used with the standard `Image` control). The only change that would be required at the XAML level would be to add an attached property (`CacheFrames` or something like that) to `AnimationBehavior`, the rest of the work would mostly affect the `Animator` class. I haven't really thought about how it should be done yet.

Well

[2017-02-20 10:02] Danthekilla commented on #88
That's a pretty cool story, I totally get it.

[2017-02-22 01:10] Danthekilla commented on #89
You manage to see why this was happening?

Also I found this https://writeablebitmapex.codeplex.com/ that could perhaps be used to speed up this library.

[2017-02-22 10:12] thomaslevesque commented on #89
Hi @Danthekilla,

Sorry, I didn't have time to investigate yet. I don't think WritableBitmapEx will help; it just introduces extension methods for `WritableBitmap` to provide new features, but it can't improve performance...

[2017-02-23 20:33] TopperDEL commented on #88
I was very happy with that library. But just some minutes ago I read that the Image-Control itself can render Animated Gifs with the Anniversary Update of Windows 10. This helps with the performance on - in my case - a Raspberry Pi 3 with Windows 10 IoT. Maybe this is a good hint for you.

Nevertheless I want to thank Thomas for that great library!

[2017-02-24 00:00] thomaslevesque commented on #88
I wasn't aware of that. It's great news!

You're welcome 😄

[2017-02-24 00:06] Danthekilla commented on #88
Sadly that only has 25% install rate and our game has to target non anniversary update systems too.

I wish more people updated to it.

[2017-02-24 07:29] TopperDEL commented on #88
In my case this is a private project - so this is not an issue. But I understand your problem.
Maybe you could go with a switch: use the Image-Control on the newer system and the XamlAnimatedGif on older ones. Microsoft is pushing it's updates as strong as possible. So the time is on your side. :)

[2017-02-26 18:29] jhwheuer opened #90 "XAML Designers claims "name AnimationBehavior does not exist..."
Hi Thomas, been using your component for months now.
All of a sudden (no changes in source, packages etc.), the XAML designer gives the following error:

Any ideas?

[2017-02-26 22:14] thomaslevesque commented on #90
Hi @jhwheuer,

The VS XAML designer is full of glitches so I see this error sometimes and it usually disappears on its own... not sure what's causing it. Did you install the library via NuGet?

[2017-02-27 07:42] jhwheuer commented on #90
Yep, used NuGet. De-Installed, Re-Installed. De-Installed, rebooted, Re-Installed...
keeps cropping up like a bad politician.
Need to take it out to complete the build... even when the designer is not open.... so there must be something a bit deeper? nasty. %-)

[2017-02-27 09:58] jhwheuer commented on #90
Hi Thomas, I did not change any of the code. It just started not working...

The assembly is properly referenced... removing it twice and re-installing should have done that... otherwise, how else should I "Properly Do that?" %-)

On the packages... there is no packages directory in the sln. Do you mean the bin dir?

[2017-02-27 10:03] thomaslevesque commented on #90
No, I mean `packages` at the solution level... For classic projects (WPF, WinForms, Console, etc targeting the full .NET framework), this is where the NuGet packages are. But I think it's different for .NET Core or UWP, the packages are in a shared location.

[2017-02-27 12:21] jhwheuer commented on #90
Yep, it is...
and that would not solve the problem. NuGet'ed the local cache, the works. nada.

Then I found this suggestion: http://stackoverflow.com/questions/28216096/wpf-the-name-does-not-exist-in-the-namespace

Changed from x64 to x86 and back again, AND EVERYTHING IS FINE AGAIN.

You gotta love dem IDEs. This kind of wasting-8-hours-of-my-dev-time stuff is why I said goodbye to Eclipse after

[2017-02-27 12:21] #90 closed

[2017-02-27 12:30] thomaslevesque commented on #90
I have. I just haven't found the time and motivation to work on it...

[2017-02-27 12:36] jhwheuer commented on #90
LOL. refreshingly honest. Thanks!

[2017-04-19 12:24] jhwheuer opened #91 "Using same IMAGE for GIF and other image formats"
Hi Thomas,
currently, I am using two IMAGE controls to display a variety of images, including GIFs. One is visible when the image is NOT a gif, using IMAGE.SOURCE in XAML. The other is alternatively visible when a GIF image is to be displayed, with AnimationBehavior.SourceUri being used.

It works, but appears a bit wasteful.

As an alternative, I have created two string properties in the underlyi

[2017-04-19 13:25] jluisestrada opened #92 "DownloadProgress event not firing"
In my project, I add the DownloadProgressHandler through the AnimationBehavior but it is never fired (All my images comes from Urls)

This is the process I do:

- Create Image instance (In code)
- Add DownloadProgressHandler
- Set AutoStart
- Add Image control to visual tree
- Set SourceUri

Am I missing something?

[2017-04-19 13:29] thomaslevesque commented on #91
Hi @jhwheuer,

You don't need two separate images. If you set `AnimationBehavior.SourceUri` to a non-GIF image, it will just be displayed as a static image.

I did! Thanks a lot :smile:

[2017-04-19 13:49] thomaslevesque commented on #92
Hi @jluisestrada,

Is this an image you already downloaded before? There's a local file cache, so if you have already downloaded the image before, the local file is reused, and the download doesn't happen, so the event isn't raised. The files are cached in `%TEMP%`, and their name is the SHA1 of the URI.

To make sure this is really the cause of your problem, can you try with an image you haven't

[2017-04-19 13:53] jluisestrada commented on #92
That makes totally sense. I've been using the same image over and over for my tests.

I will use a new image :)

Just as a side note, the DownloadedProgress event hasn't being fired a single time in my tests.

Let you know how it goes

Tnx

[2017-04-19 15:22] jhwheuer commented on #91
Hmm, must be doing something wrong, because that does not happen. I am not using a URL to a web location but a URI with a local path, and that is not displayed at all... Anything I must be doing there? The path is accessible to the UWP app, as I can just set IMAGE.Source to it and it works fine...

[2017-04-19 15:24] thomaslevesque commented on #91
Is it an absolute or relative URI?

[2017-04-19 15:25] jhwheuer commented on #91
Absolute: c:\....

[2017-04-19 15:25] jhwheuer commented on #91
Again, as Image.Source, that works fine.

[2017-04-19 15:43] thomaslevesque commented on #91
That's weird... I can reproduce the issue. I see that the `file:///C:...` uri is properly assigned to the `UriSource` of the image, but the image doesn't show up. I don't really know UWP (I didn't design the library for UWP but for WinRT, and I'm pretty sure it *was* working on Windows 8)... is there anything special about file URIs as image source in UWP?

[2017-04-19 16:13] jhwheuer commented on #91
Wait, Are you trying to assign the Source as a string? Coz that needs to be a Bitmap...

[2017-04-19 16:15] thomaslevesque commented on #91
No, I'm assigning a `Uri` to `BitmapImage.UriSource`, then assigning the `BitmapImage` to `Image.Source`

https://github.com/XamlAnimatedGif/XamlAnimatedGif/blob/master/XamlAnimatedGif.Shared/AnimationBehavior.cs#L482-L491

[2017-04-19 16:19] jhwheuer commented on #91
Hmmm, I had to go through SoftwareBitmap to make this work... Let me look into my code after I put my kids to bed.
THANKS

[2017-04-19 16:20] jhwheuer commented on #91
WElcome by the way to the Bat Shit Crazy World called UWP.   UnexpectedWorldProblem...

[2017-04-19 16:34] jhwheuer commented on #91
This is actually working...
`StorageFile file = await StorageFile.GetFileFromPathAsync(src);
                        bool r = Windows.Storage.AccessCache.StorageApplicationPermissions.FutureAccessList.CheckAccess(file);
                        if (r)
                        {
                            using (IRandomAccessStream fileStream = await file.OpenAsync(Windows.Storage.FileAccessMode.Rea

[2017-04-19 16:47] thomaslevesque commented on #91
Indeed, `SetSource(Stream)` seems to work... I guess I can use that.

[2017-04-19 16:55] thomaslevesque commented on #91
Apparently setting `Bitmap.UriSource` to a `file:///` URI raises the `BitmapImage.ImageFailed` event. The error just says `E_NETWORK_ERROR` 😡. Can I join the "I hate UWP" club too?

I guess I'll just use a stream then, but it's annoying.

[2017-04-19 17:04] thomaslevesque commented on #91
The fix is ready, I'll try to publish a release soon

[2017-04-19 17:26] jhwheuer commented on #91
many thanks

[2017-04-19 17:56] #91 closed

[2017-04-19 17:58] #92 closed

[2017-04-19 18:13] thomaslevesque commented on #91
Fixed in 1.1.7

[2017-04-19 18:18] thomaslevesque commented on #86
Actually... there *is* an `IsAnimatedBitmap` property. And also `AutoPlay`, `IsPlaying`, `Play()` and `Stop()`:
https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.media.imaging.bitmapimage
(see the Animated Images section)
Apparently it's available since build 1607 (Anniversary Update)

[2017-04-19 18:40] thomaslevesque commented on #86
Just tried it, it works, and probably with much better performance than XamlAnimatedGif.
Of course, if you still have to support pre-1607 version, that won't help...

[2017-04-19 19:03] #62 closed

[2017-04-19 21:38] thomaslevesque commented on #62
Fixed in 1.1.8

[2017-04-26 14:40] zhang2ding opened #98 "Image with extraneous byte between blocks can't be displayed"
Thank you for sharing WpfAnimatedGif and XamlAnimatedGif.
I really like them, especially XamlAnimatedGif, which is very good at saving memory.
But I got a question.
I can't animate the image below using XamlAnimatedGif. But WpfAnimatedGif works.
How do you explain?

![cat](https://cloud.githubusercontent.com/assets/16634628/25439416/fc7ccb10-2ace-11e7-8804-51fe9f9396d0.GIF)

Another question:
why

[2017-04-26 16:48] zhang2ding commented on #98
Glad to hear that.
In addition, I suggest adding a method of Animator to SEEK the animation to the specified frame index.

[2017-04-26 18:09] thomaslevesque commented on #98
OK, the issue is a bit more subtle than I thought. A fix that just ignores the extraneous byte would be easy enough to implement, but it might not be the right approach. The 2 GIF specifications are quite specific about this, but they disagree with each other...

According to the [GIF87 spec](https://www.w3.org/Graphics/GIF/spec-gif87.txt), extraneous bytes between blocks should be ignored:

But t

[2017-04-26 18:42] #98 closed

[2017-04-26 20:58] thomaslevesque commented on #98
This is fixed in 1.1.9

[2017-04-27 01:42] zhang2ding opened #102 "How can I pause a gif image at the first frame?"
I tried the following code：
`var controller = AnimationBehavior.GetAnimator(gifImg);`
`controller.Pause();`
`controller.Rewind();`
The gif image didn't pause at at the first frame. Why?

[2017-04-27 08:16] thomaslevesque commented on #102
Hi @zhang2ding,

Your best option is to set `AutoStart` to false on the image:

[code]

[2017-04-28 11:18] thomaslevesque commented on #102
The code you posted *should* work... if it doesn't, it might be a bug. I'll look into it as soon as I can.

[2017-05-10 09:30] HanbGao opened #103 "[Suggestion] SetSourceUri Support Stream"
Consider the image path support Stream.

[2017-05-10 09:32] thomaslevesque commented on #103
Hi @HanbGao,

Could you be more specific? There's already a `SetSourceStream` method (and a `SourceStream` attached property) for this purpose.

[2017-05-10 23:11] HanbGao commented on #103
Sorry,I had found it, thank you.In the and, please check the bug which can not at the first frame when pause a gif image.

[2017-05-14 22:00] #103 closed

[2017-06-22 12:07] Thomazv opened #105 "GIF file sometimes doesnt play"
sometimes the GIF file doesnt play when other gif files have no problem executing. i have added a image file which shows that i sometimes get strange grey lines? does someone know what this means?

![gif file freeze](https://user-images.githubusercontent.com/29628562/27433267-544224b0-5754-11e7-9089-f90667dca7b6.PNG)

[2017-06-22 12:14] thomaslevesque commented on #105
Hi @Thomazv,

Looks like a rendering bug, but there's not enough information in your post to help you resolve the problem. Please follow the provided [template](https://github.com/XamlAnimatedGif/XamlAnimatedGif/blob/master/.github/ISSUE_TEMPLATE.md) for bug reports.

[2017-06-22 12:25] Thomazv commented on #105
Application type: WPF 4.5+
Operating system version: Windows 10
Expected behavior: GIF should execute every time i open the window it is on.
Actual behavior: GIF file sometimes freezes and shows strange grey lines.
Steps to reproduce the problem:
repeatly open a window with a gif file on it(it sometimes is another GIF file in the same image object)

[2017-06-22 12:39] thomaslevesque commented on #105
Thanks for the details @Thomazv.

1. Does it happen with any GIF file, or only with a specific one? In the latter case, could you please provide the GIF file?
2. Could you show the code you're using to display the GIF?

[2017-06-22 13:08] Thomazv commented on #105
Hi Thomas,

1. It happens with multiple GIF files and sometimes it shocks and sometimes it shows grey lines.

 2. Here is my code:

`<Image gif:AnimationBehavior.RepeatBehavior="Forever" Width="121" Height="182" gif:AnimationBehavior.SourceUri="{Binding EnumValue, Converter={StaticResource EnumToStringConverter}}" Style="{DynamicResource ImageStyle}" />`

i also use this style for the image:

[cod

[2017-06-22 13:38] thomaslevesque commented on #105
OK, I tried to make an app as close to what you described as possible, but I'm unable to reproduce the problem.

What kind of URI does `EnumToStringConverter` return? File, HTTP, resource? Absolute, relative?

You said:

Could you elaborate? How are you doing that exactly?

If you could send a minimal repro of the problem, it would be very helpful.

[2017-06-22 14:01] Thomazv commented on #105
EnumToStringConverter returns the following string: "/ProjectName;component/Resources/file1.gif"

I create the window by a simple click on the button then a count down begins and the window closes when the count down is 0.
The window is simpely created by a window.Show() and disposed by a window.Close().

The problem is this situation happens in like 1/50 of the time i start the window, so it's re

[2017-06-22 14:10] thomaslevesque commented on #105
Thanks for the details.

Ah, this is useful to know. Looks like it might be caused by a race condition somewhere.

Does the library raise the `Error` event when it happens?

[2017-06-22 14:14] Thomazv commented on #105
When it shows the grey lines, yes the error event is raised.

[2017-06-22 14:19] thomaslevesque commented on #105
And what is the exception? Type, message, stacktrace...

[2017-06-22 14:22] Thomazv commented on #105
**Message**
`Exception = {"Object reference not set to an instance of an object."}`

**Stacktrace**
[code]

[2017-06-22 14:24] thomaslevesque commented on #105
Thanks, that's very helpful!

[2017-06-22 14:38] Thomazv commented on #105
np, hope to hear more details soon.

[2017-06-22 14:46] thomaslevesque commented on #105
OK, I'm still unable to repro. Maybe your GIFs have something special that mine don't have. Could you please share one of the GIF files that exhibit the problem?

[2017-06-22 15:00] Thomazv commented on #105
I cant share the GIF file but i can tell you that we created the GIF with 150 PNG files at 25 frames per second  if i'm correct.

[2017-06-22 15:03] Thomazv commented on #105
Could you tell me in what situation(s) this exception could occur?

[2017-06-22 15:09] thomaslevesque commented on #105
That's unfortunate, because it would go a long way toward solving the issue. Based on the stack trace, the problem occurs in the LZW decoding. At some point there was a bug in there that only occurred for images that had certain characteristics. If this is the same situation, I won't be able to fix it without a sample image.

Well, if I knew, I would be able to fix it...

[2017-06-22 15:12] Thomazv commented on #105
I will try to change the GIF file/try different GIF files, and see if this makes any differents, i will post my conclusion here. Thanks for the feedback Thomas.

[2017-06-23 07:52] Thomazv commented on #105
I tested it and other GIF files did not crash in any way, the only differents is that the GIF that did crash and show grey lines, was that they had 128 colors instead of 256.

[2017-06-23 14:42] Thomazv commented on #105
Hi,

so i tested some other gif files and i got the following exception with this GIF file:
[http://imgur.com/HCzccUJ](http://imgur.com/HCzccUJ)

(ps: gif file has transparant background)

`Message = "Attempted to read past the end of the stream."`

[code]

[2017-06-23 14:48] thomaslevesque commented on #105
Hi @Thomazv,

Apparently this is a different issue; thanks for providing a sample image. I'll look into it as soon as I can, hopefully during the weekend.

Transparent background shouldn't be an issue, it doesn't really change how the image is encoded.

[2017-06-23 14:50] Thomazv commented on #105
Hi @thomaslevesque,

Thanks for the fast response, hope to hear more details soon :).

[2017-06-24 18:59] thomaslevesque commented on #105
@Thomazv when you got the "Attempted to read past the end of the stream." error, did you use the same code as before? Or did you use `StreamSource` instead of `UriSource`? Does the error happen every time for this image?

I might have a fix for this specific error (not for the first one), but I'm unable to reproduce the issue, so I can't test it... If you're able to build the project from source,

[2017-06-25 12:29] Thomazv commented on #105
@thomaslevesque i always used the same code which is UriSource. This error doenst happen every time for this image. when i run the application in debug or release and i start the window on which the gif file is. It sometimes crashes but it works like 75% of the time.

i will try to run the project from source and replace these lines. Will let you know as soon as posibble.

[2017-06-27 07:35] Thomazv commented on #105
@thomaslevesque I changed the source and used that dll in my project, i now dont get any more exceptions.

[2017-06-27 07:50] thomaslevesque commented on #105
Weird... looks like you've found a "heisenbug" :wink:

Did you build in Debug or Release mode?

[2017-06-27 07:53] thomaslevesque commented on #105
Sorry, I misread your message, I thought you had just built the current source. So the change fixes "Attempted to read past the end of the stream." problem. But the original problem you reported was different; are you saying it no longer happen?

I'll commit the `indexStream.ReadAll`, which is more correct anyway.

[2017-06-27 08:03] Thomazv commented on #105
I did build in debug and release mode and i'm not getting any exception so far. Will continue testing just to be sure.

[2017-06-27 08:09] Thomazv commented on #105
@thomaslevesque Thanks for all your help, will wait for your commit =].

[2017-06-27 08:26] #105 closed

[2017-06-27 08:38] thomaslevesque commented on #105
The "end of the stream" bug is fixed in 1.1.10, which I just released. Thanks for the report @Thomazv!

I closed the issue for now; if you see the original bug again (`NullReferenceException` in `LzwDecompressStream`), don't hesitate to reopen.

[2017-06-27 11:29] Thomazv commented on #105
@thomaslevesque Thanks, i updated the nuget package. =]

[2017-06-28 08:14] Thomazv commented on #105
@thomaslevesque I'm afraid that the following day testing i did get the following exception:

`Object reference not set to an instance of an object. `

[code]

[2017-06-28 08:31] Thomazv commented on #105
I also got another exception once:

`Exception = {"Attempted to read past the end of the stream."}`

[code]

[2017-06-28 08:47] thomaslevesque commented on #105
Hi @Thomazv,

Looks similar to the initial exception, but not in the same method... It still doesn't happen in an image you can share?

Interesting... So it means the "false" `EndOfStreamException` I "fixed" in 1.1.10 maybe wasn't false after all, the end of the stream was really reached.

Both issues are quite serious, but I'm completely unable to reproduce them... I really need a sample image th

[2017-06-28 09:03] Thomazv commented on #105
@thomaslevesque i just tested it with the following gif file:

http://imgur.com/HCzccUJ

and got the `object reference not set to an instance of a object` exception.

[2017-06-28 09:10] Thomazv commented on #105
some more info about how i use the gif files:

The exception will continue to be thrown when i close and reopen the window on which the gif file is displayed. (so it looks like it has something to do with the resource file it self?)

when i restart my application in debug(or release) the gif file works fine again.

[2017-06-28 09:22] thomaslevesque commented on #105
Thanks! I'll have a look ASAP (probably not today, though)

[2017-06-28 09:23] thomaslevesque commented on #105
Ah, it's the same image as before... I tried it dozens of times, and never saw any exception. Does it happen only on your machine, or also on others?

[2017-06-28 09:32] thomaslevesque commented on #105
It's really strange... In `Sequence.Append`, the only thing that could be null is the `Bytes` property. But it's only null for `ClearCode` and `StopCode`, and `Append` is never called for these sequences. So it shouldn't be possible to have a `NullReferenceException` here... The only explanation I can think of is memory corruption, but it also seems unlikely.

[2017-06-28 09:33] Thomazv commented on #105
@thomaslevesque i will suggest to my co-worker that we test it on multiple machines to see if it happens on multiple machines.

I also can share one of the gif files we work with but i can only send it in private because it is commercially used and it cannot be shared.

[2017-06-28 09:35] thomaslevesque commented on #105
@Thomazv, thanks. You can send it to me at _thomas dot levesque at gmail dot com_.

[2017-06-28 09:52] Thomazv commented on #105
@thomaslevesque i have send it by email.

[2017-06-28 21:31] thomaslevesque commented on #105
OK, even with this image, I'm unable to reproduce the problem. I never see any exception being thrown.

What really puzzles me is that the problem seems to be non-deterministic. If it's a bug in the LZW decoding, it should fail every time, but it doesn't. I can see only two possible causes for this non-deterministic behavior:
- concurrency issue, e.g. two or more threads sharing access to the same

[2017-06-29 07:25] Thomazv commented on #105
@thomaslevesque  i did test it in other test projects and got no exceptions, we will test it on multiple machines here and if the exceptions will occur, i will review them with my colleagues. Will update this post when we have a conclusion.

[2017-06-30 07:50] ChRocheFR opened #108 "Loading Progress"
First, thanks for this project.

I have some trouble with big files. They take lot of time to load, and I would like to know if there is a way to report loading progress in any way. In this project, users browse various images, and can delete them afterwards. Or when the gif is not completely loaded, the app crash on deleting the file.
Thanks in advance

[2017-06-30 09:21] thomaslevesque commented on #108
Hi @ChRocheFR,

How long is "a lot of time"? How big are the images?

There's a `Loaded` event in `AnimationBehavior`, and a `DownloadProgress` for images that are loaded from a HTTP URI, but that's it. Loading the image from a local file shouldn't take long, so there's no progress indication. I'll try to see what is taking so long.

The best option to solve this is probably to use `SourceStream`

[2017-06-30 09:29] thomaslevesque commented on #108
I notice the same problem on my machine, but only when the debugger is attached... If I run without debugging, the image loads almost instantly. Is it still slow for you when you run without debugging?

[2017-06-30 10:36] ChRocheFR commented on #108
I will try to identify the size which cause the problem, but the loading time exceeds sometimes 4 seconds and I only work with local file and in release mode without Visual Studio.
Il will test the SourceStream and will come back to you after this.
By the way, this version is still more stable than the previous WpfAnimatedGif.

[2017-06-30 11:03] ChRocheFR commented on #108
Test done with a 2.2Mo gif. It takes more than 4 seconds to load and it seems that the height/width is expanded. I open it with XnView or with WebBrowser object and it is in fact much smaller in size (at least 4 times I think).
For the Stream, I need to load multiple images in same panel, so I can't really figure to let the gif to load before closing the stream(s).

[2017-06-30 12:31] thomaslevesque commented on #108
Are you sure it's not the WPF rendering that is stretched? Make sure to set `Stretch="None"` on the `Image` control.

[2017-06-30 13:26] ChRocheFR commented on #108
Stretch to none correct the size (thanks for that, I do not know how I missed that), but the loading time is the same.

[2017-06-30 19:07] ChRocheFR commented on #108
Upgraded target framework from 4.5.1 to 4.6.1 and seems to be good now for loading. I still have an exception on delete but I will look at my code for any logic error.
Thanks for your work.

[2017-06-30 19:07] #108 closed

[2017-07-01 10:06] thomaslevesque commented on #108
Thanks for the update @ChRocheFR. Not sure what could have caused the issue, but I'm glad you were able to resolve it.

[2017-09-15 06:57] lopengye opened #109 "Can not display a gif from StaticResource"
- Application type: WPF 4.0 / WPF 4.5+
- Operating system version: win 10 x64
- Expected behavior: display gif well
- Actual behavior: xxx is not a valid value for property 'sourceuri'
- Steps to reproduce the problem:

1. `<img:BitmapImage x:Key="BACKUP_progress_gray.gif" UriSource="/Omni.BackupModule;Component/Resources/Images/progress_gray.gif"/>`
2. `<Image Margin="24,0,0,0" gif:AnimationBehav

[2017-09-15 07:35] thomaslevesque commented on #109
Hi @lopengye,

As the name implies, `AnimationBehavior.SourceUri` accepts a `Uri`, but you're trying to assign a `BitmapImage` to it. You have to pass the URI instead:

[code]

Or, if you prefer, declare the URI as a resource:

[code]

[2017-11-04 03:26] MiyamuraMiyako opened #110 "Can't show big gif files(3.24MB)"
Enviroument: WPF .Net4.0 Full
OS: Windows7 sp1 x86 and Windows 10 pro x64.
Behaviors: gif:AnimationBehavior.SourceUri="pack://siteoforigin:,,,/Images/inputcard.gif" gif:AnimationBehavior.AnimateInDesignMode="True" gif:AnimationBehavior.AutoStart="True" gif:AnimationBehavior.RepeatBehavior="Forever"
- big gif file cannot show.

[inputcard.zip](https://github.com/XamlAnimatedGif/XamlAnimatedGif/file

[2017-11-05 11:26] thomaslevesque commented on #110
It works for me in the demo app... It takes a while to load because it's so big, but it eventually shows up, although the animation is quite slow. The GIF doesn't seem to be optimized at all; passing it through a GIF optimizer makes it 10 times smaller, and then it loads faster and the animation is smoother.

Anyway, for very large animations, you should use a video rather than a GIF.

[2017-11-05 11:39] MiyamuraMiyako commented on #110
Thank you for reply, I will optimize gif file makes it small.

[2017-11-05 11:39] #110 closed

[2017-11-17 13:31] JacobSkyrme opened #111 "Repeat behavior restarting the animation."
Is there a way to set repeat behavior at the end of the animation? Currently when ever i change the repeat behavior it restarts the animation and displays it really weirdly: https://gyazo.com/892f7de9a20cfe3e9b544727deb7461e

The bug only occurs when setting repeat behavior to a value. I've tried having the button on the same WPF but it makes no difference. I've tried the code within the button an

[2017-11-18 15:45] thomaslevesque commented on #111
Hi @JacobSkyrme,

You could set the repeat behavior to 1x, and use the `Animator.AnimationCompleted` event to detect when the animation completes. To get the Animator, use `AnimationBehavior.GetAnimation(imgControl)`.

[2017-12-06 10:43] thomaslevesque opened #112 "Add a bindable IsPlaying property"
To control the animation from a ViewModel via XAML

[2018-03-18 20:10] Mikolaytis commented on #2
Hi, just googled this kind of issues, looks like it was video driver error or OutOfMemory

[2018-05-02 20:28] fpskcd opened #113 "AnimationBehavior.SetSourceUri does not work with relative path"
- Application type: WPF 4.0
- Operating system version: Windows 10
- Expected behavior: When you call AnimationBehavior.SetSourceUri with a relative GIF file URI (i.e. file name only) and then call SetAutoStart, the specified image should display.
- Actual behavior: The image appears blank, even if UriKind.Relative or UriKind.RelativeOrAbsolute is specified in the Uri instance.

[2018-05-02 21:31] fpskcd commented on #113
Yes, the Error event is raised. Is this by design?

[2018-05-02 23:29] thomaslevesque commented on #113
What is the error in the event args?

Not really by design; it's just that I can't guess the absolute URI from the relative URI if I don't have a base URI.

[2018-05-03 15:48] fpskcd commented on #113
The error message is "Cannot locate resource 'nesting.gif'."
However, the "nesting.gif" file is in the same directory as the executable.

Here is the source code where the Error is raised:
TempURI = New Uri("Nesting.gif", UriKind.Relative)
AnimationBehavior.SetSourceUri(AnimationMedia, TempURI)

How do I read the baseUri for the image?

[2018-05-04 08:09] thomaslevesque commented on #113
Ah, it's not the error I was expecting, so it might not be related to the use of a relative URI.

I'll try to reproduce the issue on my side. In the meantime, if the image is in a file, you can try to specify its full path, e.g. `new Uri(Path.GetFullPath("nesting.gif"))`

[2018-05-04 11:44] thomaslevesque commented on #113
Are you sure this is the exact message? This message doesn't exist in XamlAnimatedGif,.
When I tried, I got this instead: "Cannot find file with the specified URI"

Basically, this is because when you pass a relative URI, it is resolved based on the `Image` control's `BaseUri` (accessible via `((IUriContext)image).BaseUri`), which is something like `pack://application:,,,/WpfApp1;component/`, i.e.

[2018-05-04 13:54] fpskcd commented on #113
I understand now. Thank you for the clarification. I created the Image control in XAML, so I think that's the reason. I'll close the case for now.

[2018-05-04 13:54] #113 closed

[2018-08-27 05:05] eladpotok opened #114 "CPU is not cleaned when window is closed"
Hi there,
first of all - good improvement from the previous library.
Secondly, I encountered a strange issue.

I am using your library via my behavior, which means, that I use AnimationBehavior.SetSourceUri by code and not by xaml.

When I open a window which contains GIF, it takes 1-2 seconds for rendering and showing the GIF (which is OK), but when I close the window before the GIF is represente

[2018-08-27 07:54] eladpotok commented on #114
@thomaslevesque

Hi,
Unfortunately it didn't help.

In the behavior I am creating an inline which contains an image as a child.
AnimationBehavior.SetSourceUri(img, displayImageUri);

the img object is Image and the displayImageUri is a GIF which is represented by URI.

when the behavior calls the Deatach, I call to:
AnimationBehavior.SetSourceUri(img, null);

And the CPU is not cleared.
I must say

[2018-08-28 05:50] eladpotok commented on #114
@thomaslevesque
Hi,
Just updating you that I tried to solve this problem about 7-10 hours, and I got some details that could maybe help you to understand my problem.

SetSourceUri(img, null) would help if I would use it immediately after the SetSourceUri(img, uri),
But in other method it doesn't reduce my CPU usage.

Something important too, when I pause my project, I have noticed that the Worker

[2018-08-28 14:04] thomaslevesque commented on #114
I'm unable to reproduce the issue. Can you please provide a minimal repro project?

[2018-08-28 19:08] leonardvdj opened #115 "Low framerate with only 1 gif showing"
- Application type: WPF 4.5+
- Operating system version: Windows 10 Pro 1803

I'm trying to show [this](https://cdn.betterttv.net/emote/5ada077451d4120ea3918426/1x) gif in my project, but even if I only show a single image control, it runs at about 50% speed. I'm loading it from a MemoryStream. With WpfAnimatedGif it runs full speed, but the memory usage is absolutely crazy, far more than what I b

[2018-08-29 07:35] thomaslevesque commented on #115
Hi @leonardvdj,

It usually works reasonably well with small images like this, but this one has a very high framerate (50 FPS), and apparently it's too much for my library :(
I have a few ideas to make things faster (probably involving a speed vs. memory tradeoff), but to be honest I have no idea when I'll find the time to do it.

[2018-09-01 00:27] leonardvdj commented on #115
@thomaslevesque I see, well if you could update me here if progress is made that could be very nice.

[2018-09-01 09:48] thomaslevesque commented on #109
Closing due to inactivity

[2018-09-01 09:48] #109 closed

[2018-09-01 09:48] thomaslevesque commented on #111
Closing due to inactivity

[2018-09-01 09:48] #111 closed

[2018-09-01 09:55] thomaslevesque commented on #41
Closing in favor of #88

[2018-09-01 09:55] #41 closed

[2018-09-01 09:56] thomaslevesque commented on #86
Closing in favor of #88

[2018-09-01 09:56] #86 closed

[2018-09-01 09:56] thomaslevesque commented on #115
Closing in favor of #88

[2018-09-01 09:56] #115 closed

[2018-11-17 02:47] KyzaGitHub opened #116 "Images and GIFs take forever to even display."
I am adding a mix of images and GIFs to a ListView like so:

XAML
[code]

C#
[code]

The images take on average of 5 seconds to load, while the GIFs take up to 5 minutes to load (this being a 55MB one). And all the while the UI is locked up and my CPU is at 100%.

When they finally finish loading, they play slower than usual.

I'm not exactly sure why it is doing this, the WPF is only showing 8 im

[2018-11-17 04:51] KyzaGitHub commented on #116
I ended up using `MediaElement` to solve this problem.

[2018-11-17 17:17] thomaslevesque commented on #116
Wow. I didn't even know such large GIFs existed. Shouldn't it be a video instead? I know this library has performance issues, but honestly, 55MB for a GIF is just crazy, I wouldn't expect to be able to play it at a decent speed. How many frames are there? How large are the frames?

As for non-animated images, I guess it could be improved. Currently I try to load the image as a GIF, and if it fails

[2018-11-17 18:38] KyzaGitHub commented on #116
I have a 93MB one but I haven't tried loading it yet. As for the 55MB one, it's 633x356 and has 570 frames.

About setting `Source` instead of `gif:AnimationBehavior.SourceUri`, this is my first WPF project and I don't have any idea how I would do this with `{Binding}`. I've tried looking up documentation on it but I've had no luck. Maybe I should be taking a different approach to this? I want to

[2018-11-18 13:02] thomaslevesque commented on #116
Well, at 570 frames, it should probably be a video, not a GIF... I'm not sure I could make it render faster. Is this an image you'd be able to share so I can see what's taking so long?

If you do it with binding, you can bind `Source` and `gif:AnimationBehavior.SourceUri` to different properties:

[code]
and set `GifUri` or `NonGifUri` depending on the image you want to display.

In code behind, y

[2018-12-04 08:55] thomaslevesque commented on #68
Closed by #117. Thanks @alexbereznikov!
I just published a 1.2.0 version that contains the change. Hopefully it should be indexed on NuGet soon.

[2018-12-04 08:55] #68 closed

[2018-12-04 08:56] alexbereznikov commented on #68
@thomaslevesque  Glad to hear that!

[2018-12-24 23:11] luiferrivas opened #120 "Bug for this particular GIF"
# If you're reporting a bug, please fill in the following information, otherwise delete this section

- Application type: WPF 4.0 / WPF 4.5+
![083b5583-8393-4af3-9af8-b8ed750a78d5]
https://user-images.githubusercontent.com/46113668/50407268-db301000-07a1-11e9-9040-d0830bcc4406.gif

We detect that issue when we develop an app that use this project as nuget package. So the picture in the link before

[2018-12-25 21:01] thomaslevesque commented on #120
Hi @luiferrivas, thanks for reporting this. I'll look into it.

[2019-01-02 17:07] thomaslevesque commented on #120
I'm not sure what's wrong with this image. All browsers manage to display it without issue, so it's probably not "broken", but the LZW decompression algorithm I'm using (described [here](http://www.matthewflickinger.com/lab/whatsinagif/lzw_image_data.asp)) can't handle it, because it's receiving a code that it doesn't expect at this point. I'll need to find another description of the algorithm to

[2019-01-04 14:02] maurosampietro commented on #114
Hi! I also noticed big cpu usage. In my case it is obvious because I'm showing the gif inside a listbox with hundreads of items.

It looks like the gif is working even if it is not actually visible to the user. My XAML is the following.

<Grid>
     <Image /*loading gif*/ />
     <Image /*actual image i was waiting for*/ />
<Grid>

[2019-01-07 10:56] maurosampietro commented on #114
Hello! I had a look at the code.
I found out the problem is the Animator class does not cache already-rendered gif frames.

This causes two problems:
1 - a playing gif is constanly being read and a frame is always being elaborated
2 - if the same gif is used in multiple placed, it is read multiple times

I see this problem has been reported a lot of times. No problem for me to try to solve it if y

[2019-01-07 11:38] thomaslevesque commented on #114
Hi @maurosampietro,

That's by design. Caching rendered frames would use too much memory, as it did in WpfAnimatedGif.

The real problem is that in some cases the animation keeps running when the window is closed

[2019-01-07 16:05] maurosampietro commented on #114
Even tiny gifs ended up consuming tons of memory. That's true.
But can you explain why it consumed so much memory?
Maybe we can address the problem there.

Hope not to annoy you.

[2019-01-07 16:24] thomaslevesque commented on #114
Because rendered images use a lot of space. In a GIF, image data is a compressed stream of palette indices. When you render, you have to uncompress the stream and replace palette indices with the actual color. Which gives 32 bits per pixel, which can quickly add up to a lot when you multiply by the image size and by the number of frames.

[2019-01-21 15:13] eladpotok commented on #114
Hi,
Do you have a best practice for pausing the gif?

When I am trying to stop it, I observe that the CPU is still high ..

‫בתאריך יום ב׳, 7 בינו׳ 2019 ב-18:24 מאת ‪Thomas Levesque‬‏ <‪
notifications@github.com‬‏>:‬

--
אלעד פוטוק

[2019-01-22 10:10] thomaslevesque commented on #114
I don't really have a best practice... Setting SourceUri to null should do it. As I said before, I haven't been able to reproduce the problem. It might help if you could provide a repro.

[2019-01-22 10:34] eladpotok commented on #114
Great, Thanks!

‫בתאריך יום ג׳, 22 בינו׳ 2019 ב-12:30 מאת ‪Thomas Levesque‬‏ <‪
notifications@github.com‬‏>:‬

--
אלעד פוטוק

[2019-01-22 10:40] eladpotok commented on #114
Just to summarize it,
1. If I close the window before "bla" is printed - CPU Leak.
2. If I close the window after "bla" is printed - Works well.

I want to emphasize that I didn't use SetSource with null for both
scenarios. (which means that in the second scenario it was closed properly
even that).

‫בתאריך יום ג׳, 22 בינו׳ 2019 ב-12:33 מאת אלעד פוטוק <‪potokelad@gmail.com
‬‏>:‬

--
אלעד פוטוק

[2019-01-27 11:33] eladpotok commented on #114
Hi,
Is there any news?

‫בתאריך יום ג׳, 22 בינו׳ 2019 ב-12:40 מאת אלעד פוטוק <‪potokelad@gmail.com
‬‏>:‬

--
אלעד פוטוק

[2019-01-27 19:02] thomaslevesque commented on #114
Hi @eladpotok, sorry, I didn't have time to look into it yet.
Also, there's currently a [big PR](https://github.com/XamlAnimatedGif/XamlAnimatedGif/pull/122) that's going to change most of the code, so I'd rather not make significant changes right now as I'll have to do it again after the PR is merged...

[2019-01-30 11:50] eladpotok commented on #114
Ok, so don't you have any workaround meanwhile?
My project has a lot of cpu leak and I would like to solve it by your
assistance .

‫בתאריך יום א׳, 27 בינו׳ 2019 ב-21:02 מאת ‪Thomas Levesque‬‏ <‪
notifications@github.com‬‏>:‬

--
אלעד פוטוק

[2019-01-30 12:31] thomaslevesque commented on #114
@eladpotok, I just tried to reproduce the problem, and couldn't.
If I set `SourceUri` to null before the image has finished loading, it increments a sequence number, which is checked after the image is loaded. If it has changed since before we loaded the image, the animator is disposed and the animation doesn't play, so it shouldn't use CPU.
Which version of the library are you using?

[2019-01-30 12:55] eladpotok commented on #114
Hi,
I am using XamlAnimatedGif ver 1.1.10.0

‫בתאריך יום ד׳, 30 בינו׳ 2019 ב-14:31 מאת ‪Thomas Levesque‬‏ <‪
notifications@github.com‬‏>:‬

--
אלעד פוטוק

[2019-01-30 13:06] thomaslevesque commented on #114
OK, so you should have the fix, since it was done in 1.0.3...
Well, I thought I understood what the problem was, but I don't; as I said, I wasn't able to reproduce the issue. If you could reproduce it in a minimal project, I could have a look.

[2019-01-30 13:15] eladpotok commented on #114
Its bit difficult to reproduce with another project but I can explain to
you what I am doing, and maybe you could understand where it can be failed.

I have textblock with behavior (For BBCODE) that should support gif.
So I call to the next method that in static class that use this line
: AnimationBehavior.SetSourceUri(img, displayImageUri); (while img is Image
and imageUri is the gif uri).

when

[2019-01-30 13:42] thomaslevesque commented on #114
No... Setting SourceUri to null should always stop the animation
Are you sure your behavior is correctly detached?

[2019-01-30 14:06] eladpotok commented on #114
Yes, I have perfect reproduced to send you.
How can I transfer it to you?

‫בתאריך יום ד׳, 30 בינו׳ 2019 ב-15:42 מאת ‪Thomas Levesque‬‏ <‪
notifications@github.com‬‏>:‬

--
אלעד פוטוק

[2019-01-30 14:10] thomaslevesque commented on #114
You can put it in a Github repository, or just zip the source (without the bin/obj folders) and attach it to a message here.

[2019-01-30 14:15] eladpotok commented on #114
hi
this is my repository

https://github.com/eladpotok/XamlAnimatedBug

This what you can see:
I have behavior that add image .
at first I create two images very quick and the cpu is not released.

‫בתאריך יום ד׳, 30 בינו׳ 2019 ב-16:10 מאת ‪Thomas Levesque‬‏ <‪
notifications@github.com‬‏>:‬

--
אלעד פוטוק

[2019-01-30 14:35] thomaslevesque commented on #114
You're not calling setting SourceUri to null on the right image. You're always calling `SetSourceUri` on `_img[0]`, so when you close the second window, you clear the first image, not the second. So the animation on the second image keeps running (IMO using a static list of `Image` instances is a bad idea anyway).

Sorry, but the problem is in your code, not in the library... I'll close the issue

[2019-01-30 14:39] eladpotok commented on #114
Sorry, you are right.
But even if you add _img.Clear(); in the end of the method, the bug still
reproduce.,

‫בתאריך יום ד׳, 30 בינו׳ 2019 ב-16:35 מאת ‪Thomas Levesque‬‏ <‪
notifications@github.com‬‏>:‬

--
אלעד פוטוק

[2019-01-30 15:21] thomaslevesque commented on #114
Ah, I see. When you set SourceUri to null, the image is already unloaded (`image.IsLoaded` is false). But setting SourceUri to null only stops the animation if the image is loaded... The animation is supposed to stop on its own when the image is unloaded. I'll fix it.

[2019-01-30 16:16] #114 closed

[2019-01-30 16:26] thomaslevesque commented on #114
@eladpotok I published a beta on Nuget, it will be available soon, after validation and indexing are done (this can take up to an hour).
https://www.nuget.org/packages/XamlAnimatedGif/1.2.1-beta001

Could you test it and confirm it fixes your problem?

With this fix, in your repro you don't even need the ImageHelper.Dispose method.

[2019-01-30 18:35] eladpotok commented on #114
Working Great, thanks.
Waiting for the main update.

‫בתאריך יום ד׳, 30 בינו׳ 2019 ב-18:16 מאת ‪Thomas Levesque‬‏ <‪
notifications@github.com‬‏>:‬

--
אלעד פוטוק

[2019-01-30 23:40] thomaslevesque commented on #114
1.2.1 is released. Thanks for the report @eladpotok, and sorry it took so long to fix!

[2019-02-06 20:41] DoomBroMax opened #125 "Gif animation is slowed down."
I didn't notice it at first, cause it's not much. But when I play a gif animation with this library in WPF, the animation is slower than when I'd just play it by opening it directly. It also runs at the normal speed with the WpfAnimatedGif library. It's really not much, but it was noticable when playing a sound effect that would usually be in sync with the animation. Is there a way to adjust the s

[2019-02-06 20:41] #125 closed

[2019-02-06 20:43] DoomBroMax commented on #125
Very vell. It's only a small decrease in speed and only bothers when playing a sound effect that is in sync. I'll gladly wait. At least the whole window doesn't freeze anymore for 2 seconds when loading a new gif.

[2019-03-29 04:17] surgutsky commented on #88
Great component by the way. But in case anybody has performance issues here is how I solved it myself.
I have a dialog with about 40 images from Giphy and I had problem displaying gifs animated.
So here are steps of improvements that worked for me:

1. Load GIF from web yourself. Just used async method ContinueWith. the method loads an image to memory and then calls to XamlAnimatedGif.AnimationBeh

[2019-03-29 13:19] CodeDead opened #126 "RepeatBehaviour once completed event fires too soon"
- Application type: WPF 4.5+
- Operating system version: Windows 10
- Expected behavior: Completed Event should fire at the correct time and replaying a GIF should not make the completed event fire sooner and sooner on each and every repeat.
- Actual behavior: Event keeps firing the completed event way to soon
- Steps to reproduce the problem:
  1. Set the repeat behavior to just once
  2. Play an

[2019-03-29 14:34] thomaslevesque commented on #126
Hi @CodeDead,

Thanks for reporting this. I can also reproduce the problem in the project's demo app. I'll look into it.

[2019-04-17 12:34] joao7yt opened #127 "Gif seems to be playing at a lower frame rate"
- Application type: WPF 4.5+
- Operating system version: Windows 10 Build 17763
- Expected behavior: Gif to play at the normal speed, should be exactly 7 seconds
- Actual behavior: Gif playing around half speed, it's about 13 seconds
- Steps to reproduce the problem:
  1. just run the application with:
[code]
- If you're having issues with a specific GIF file, please attach or link the file.
![Loa

[2019-04-17 13:09] thomaslevesque commented on #127
Hi @joao7yt,
Thanks for the report. I'm aware of the performance issues, and have some plan to address them as soon as I can find the time (to be honest, I have no idea when that will be). I'm closing this as a duplicate of #88.

[2019-04-17 13:09] #127 closed

[2019-05-03 15:27] dpotts-sc opened #128 "VS 2017, .NET 4.7 - Exception on XAML Parsing"
- WPF .NET 4.7 using Visual Studio 2017 -- Windows 10

* I have installed via NuGet
* setup the XAML to point to the image I want animated
* When I load the Window with the animated GIF at the "InitializeComponent()" call in the constructor for the window, I get the following exception :
'Could not load file or assembly 'XamlAnimatedGif, PublicKeyToken=null' or one of its dependencies. The system

[2019-05-03 15:56] dpotts-sc commented on #128
Not sure what happened, but I uninstalled the XamlAnimatedGif and re-installed and now everything is working?  Everything through NuGet, so I'm confused.

[2019-05-03 18:24] dpotts-sc commented on #128
NOTE : The solution is to make sure that all projects and sub-projects have a reference to the XamlAnimatedGif.Wpf project.  This was the problem, cleaned it up and it works now.

[2019-05-03 19:53] thomaslevesque commented on #128
It should work with no additional work, exactly as it works for a normal image.

Since you have resolved your problem, I'll close the issue.

[2019-05-03 19:53] #128 closed

[2019-05-05 12:22] eladpotok opened #129 "How to display url with https"
Hi There,
Thank you for your repository .

I Have a question about your code.
I have tried to display an image by https url (in my mini project, it's not related to your branch) and I have encountered serious problem with it.
It's actually blocks the image to be displayed.

In your repository it works great. I can show https gif as much as I want.
How did you solve it?

Thanks,

[2019-05-06 07:57] thomaslevesque commented on #129
Hi @eladpotok, I didn't do anything special...
What kind of problem do you encounter? Is there an error while downloading the image?
If it works in HTTP and not in HTTPS, it's probably a SSL-related issue (e.g. certificate validation or SSL protocol version). Maybe try changing the [`ServicePointManager.SecurityProtocol`](https://docs.microsoft.com/en-us/dotnet/api/system.net.servicepointmanager.s

[2019-05-18 15:17] eladpotok commented on #129
Hi, How does it work?

‫בתאריך יום ב׳, 6 במאי 2019 ב-10:57 מאת ‪Thomas Levesque‬‏ <‪
notifications@github.com‬‏>:‬

--
אלעד פוטוק

[2019-05-18 15:26] thomaslevesque commented on #129
What do you mean? Just try changing the value of the property and see if it fixes the problem.
Also, you didn't answer my questions, so it's hard to help you...

I'm going to close this issue, since it's not related to a problem in XamlAnimatedGif.

[2019-05-18 15:26] #129 closed

[2019-05-29 13:00] eladpotok commented on #129
Sorry for the late response.
It does relate to this PR since your library does not support this link :
https://s3-dev2.walkmeusercontent.com/ecf7a022d26a4fe39bfc8631f290837c/Untitled.gif

‫בתאריך שבת, 18 במאי 2019 ב-18:26 מאת ‪Thomas Levesque‬‏ <‪
notifications@github.com‬‏>:‬

--
אלעד פוטוק

[2019-05-29 15:31] thomaslevesque commented on #129
Which PR? You mean this project? You said in your first message:

So I assumed the problem was with your code, not the library itself. But you still haven't given me any detail about the problem, so there isn't much I can do to help you...

The link you gave works fine for me (although it's not animated, so I'm not sure why you need XamlAnimatedGif to display it)

[2019-08-09 10:23] faze79 opened #130 ""A task was canceled" exception on Dispose"
- Application type: WPF 4.5+
- Operating system version: Windows 10
- Expected behavior: Not throw exception
- Actual behavior: throw exception on Dispose() of Animator
- Steps to reproduce the problem: Show Hide a window with a gif many times.

I think in TimingManager.NextAsync you have simply to check for CancellationTokenSource.IsCancellationRequested so the execution is interrupted correctly.

[2019-08-09 10:49] thomaslevesque commented on #130
Hi @faze79,
Thanks for the report, I'll look into it

[2019-08-09 14:08] thomaslevesque commented on #130
Hi @faze69,

I haven't been able to reproduce the problem, but I think I know what's causing it.
I published a beta that should fix it, could you try it please?

[2019-08-14 18:13] thomaslevesque commented on #130
@faze79 have you been able to try the beta? Please keep me posted, if it works as expected I'll publish a stable release.

[2019-08-28 11:12] thomaslevesque commented on #130
@faze79 I didn't get any feedback from you, so I'll assume the issue is fixed. Please chime in if you still encounter the problem.

I just released [1.2.2](https://github.com/XamlAnimatedGif/XamlAnimatedGif/releases/tag/1.2.2) which includes the fix.

[2019-08-28 11:12] #130 closed

[2019-09-13 16:02] SchreinerK opened #133 "Provide a strong named version."
[code]

To reference this assembly from an assembly with strong name, this assembly must also have a strong name.

[2019-09-15 10:31] thomaslevesque commented on #133
Adding a strong name is a breaking change, so I'll do it in the next major release.
But to be honest, I don't know when that will be... In the meantime, I suggestion you use [this package](https://www.nuget.org/packages/Brutal.Dev.StrongNameSigner/) to strongly sign the assembly yourself at build time.

[2019-09-16 06:27] SchreinerK commented on #133
Thanks. Interesting tool, I will have a look on it. In the meantime I have forked your repository and signed the WPF part only. Because I only use GIF in an optional sample plugin for my converter and anybody can create own plugin, is this an acceptable temporary solution  for me. In the future it would be nice, when your nuget package could be used directly.

[2020-01-06 00:56] tklee-dev opened #134 "It doesn't work when it set build action 'content'"
- Application type: WPF 4.5+
- Operating system version: win10
- Expected behavior:
- Actual behavior:
- Steps to reproduce the problem:
  1. Set gif file build action 'resource' it  works.
  2. Set gif file build action 'content' it doesn't work.

    <Image gif:AnimationBehavior.SourceUri="Gif/Main_A1.gif"/>

[2020-01-06 03:28] tklee-dev commented on #134
it works.
path like below:
<Image gif:AnimationBehavior.SourceUri="pack://siteoforigin:,,,/ImageResource/Main_A1.gif"/>

[2020-01-06 03:28] #134 closed

[2020-01-06 08:42] thomaslevesque commented on #134
Glad you were able to resolve the issue, @tklee-dev.
In fact, the problem isn't related to XamlAnimatedGif; it would have been the same issue with a normal image.

[2020-02-01 05:05] neosherif opened #135 "How can i solve memory leak?"
# If you're reporting a bug, please fill in the following information, otherwise delete this section

- Application type: WPF 4.5+
- Operating system version: Windows 10
- Expected behavior: Memory Release
- Actual behavior: Memory Increase
- Steps to reproduce the problem:
  1. Page2 button click
  2. Page1 button click
  3. Repeat operation 1 and 2 times
  4. The memory only increases, not decre

[2020-02-01 10:46] thomaslevesque commented on #135
Hi @neosherif,

How did you measure the memory usage? The Windows Task Manager isn't a very good tool for that, you should use a profiler. Does the app keep using more memory until it crashes?
Is the memory released if you trigger garbage collection? (calling `GC.Collect()`)
If it is released, it's not a leak; garbage collection runs only when it needs to.

I ran the app through the Visual Studio

[2020-02-04 00:46] neosherif commented on #135
Ok. Thank you and sorry
I have confirmed that there is no memory leak.
I see that the memory is increased because of the page object.

[2020-02-04 00:46] #135 closed

[2020-02-04 08:34] thomaslevesque commented on #135
You're welcome!

[2020-04-03 16:27] alexandrejournet opened #136 "Build with config x64 not working"
- Application type: WPF 4.0
- Operating system version: Windows 10
- Expected behavior: Show Gif
- Actual behavior: Not showing gif in 64bits, in a config x86, it works
- Steps to reproduce the problem:
  1. Just put the config to x64

[2020-04-04 12:35] thomaslevesque commented on #136
Hi @alexandrejournet,

I just tried it, and it works fine for me... Could you please send a project that reproduces the issue?
Or maybe it's specific to the GIF image you're using; could you send it to me so that I can investigate?

[2020-04-06 07:16] alexandrejournet commented on #136
https://github.com/alexandrejournet/TestGifWPF

I tested with two differents gif and same problem, just switch between x64 and x86 config, not AnyCPU. Even in design mode it's not working ^^

[2020-04-06 07:59] thomaslevesque commented on #136
Hi @alexandrejournet,

I just tried your project. It works fine for me, whether in x86 or x64. Have you tried on a different machine? The problem might be related to your machine...

[2020-04-06 12:12] alexandrejournet commented on #136
Hi @thomaslevesque,

I'm going to try on another machine and I come back to you !

[2020-04-06 12:17] alexandrejournet commented on #136
@thomaslevesque,
This works on my other machine, I'll just try again on my main machine, sorry for this issue ! ^^

[2020-04-06 12:17] #136 closed

[2020-04-06 13:10] thomaslevesque commented on #136
Thanks for checking. It would be interesting to know what the problem was; can you see an error if you subscribe to the `AnimationBehavior.Error` event?

[2020-04-08 20:43] thomaslevesque commented on #116
Closing as "won't fix". I don't expect XamlAnimatedGif to ever be able to play such a large ~~video~~gif at normal speed.
I do have plans to improve performance, but honestly I lack the time and motivation to maintain this project, so I don't know if or when I'll do it.

[2020-04-08 20:43] #116 closed

[2020-04-08 21:01] thomaslevesque commented on #69
My involvement in this project has been very low for several years, and it's unlikely to increase significantly, so I'll probably never implement this. Closing.

[2020-04-08 21:01] #69 closed

[2020-04-08 21:02] thomaslevesque commented on #61
Sorry I never got around to fix this... Windows 10 Mobile is dead and buried now, so I'll close the issue.

[2020-04-08 21:02] #61 closed

[2020-07-06 08:39] tensei opened #137 "Support for .NET Core 3.1"

[2020-07-06 08:55] thomaslevesque commented on #137
Hi tensei,

Thanks for the suggestion. It's been on my mind for a while, but I haven't got around to do it yet.

[2020-08-05 09:48] Jicol95 opened #138 "Changing value of SourceUri uses a little bit more memory each time"
- Application type: WPF 4.0
- Expected behaviour: Loading the gif should use the same amount of memory (roughly) each time when loading the same image.
- Actual behaviour: When reassigning the source URI it seems to claim slightly more memory each time.
- Steps to reproduce the problem:
  1. Set resource URI to null
  2. Navigate away
  3. Navigate to
  4. Set resource URI to GIF

[2020-08-05 10:00] thomaslevesque commented on #138
Hi @Jicol95,

How are you measuring memory usage? If you're just looking at the Task Manager, it doesn't really mean anything, since it doesn't account for garbage collection. The proper way to check if memory is leaking is to use a memory profiler.

Does the memory usage go back down when you call `GC.Collect()`?

[2020-08-05 10:19] Jicol95 commented on #138
Thanks for the quick response.

I have used both ANTS memory profiler and diagnostic tools to measure the memory usage.

So I have tried GC.Collect() after setting SourceUri to null which does release the memory. However if I reload the image it loads back with more memory than before. So when I'm not using that image everything is fine, but can jump from around 400MB memory to 2GB when loading th

[2020-08-05 13:49] thomaslevesque commented on #138
That's weird... If it goes back to normal after a GC.Collect, there shouldn't be a leak. I'm not sure what could cause the memory usage to increase like that the next time you load an image.

Can you see if new objects are retained between snapshots?
Are you able to reproduce the problem in a simple standalone project?

[2020-08-07 13:27] Jicol95 commented on #138
Struggled to find retained objects using ANTS profiler. In honesty my strategy is a bit all over the place as I'm fairly new to ANTS.

Here's the problem reproduced in a simpler project https://github.com/Jicol95/AnimatedGifIssue just navigate back and forward to see what I've been talking about.

Apologies this took me longer than I wanted it to. Let me know if there are any issues with the proje

[2020-08-07 14:59] thomaslevesque commented on #138
Thanks! I'll try to reproduce it on my side

[2020-08-07 15:50] thomaslevesque commented on #138
I'm able to reproduce the issue using Visual Studio's built-in profiler

![image](https://user-images.githubusercontent.com/1864281/89663708-3f034000-d8d6-11ea-9ad6-a05b7e191de1.png)

The memory usage graph clearly shows that it's using more memory every time the GIF is displayed. However, the diffs between snapshot don't reflect that: sometimes more memory is used, sometimes some memory is freed.

[2020-08-07 18:21] thomaslevesque commented on #138
OK, I have a lead...

I added a Debug.WriteLine where the ImageAnimator is created. The first time I navigate to the payment page, the debug line appears once. The next time, it appears 4 times. The next time, it appears 7 times. The next time, 10 times. And so on...
So it's getting slower and slower, and uses more memory every time.

I'm not sure yet what's causing this, but at least I have an id

[2020-08-07 18:35] thomaslevesque commented on #138
OK, found it. I was subscribing to the image `Loaded` event more often than I was unsubscribing. This caused the handler to be caused multiple times, causing the animation to be created too often.
I'll release a fix ASAP

[2020-08-07 18:40] #138 closed

[2020-08-07 18:51] thomaslevesque commented on #138
I just released [1.2.3](https://github.com/XamlAnimatedGif/XamlAnimatedGif/releases/tag/1.2.3) with the fix.
Thanks @Jicol95 for reporting this issue, and for providing a good repro!

[2020-08-07 22:13] Jicol95 commented on #138
Thank you @thomaslevesque for fixing this so quickly!

[2020-08-11 15:42] steffy97 opened #141 "Dialog problem on "dialogWindow.Show()""
- Application type: WPF 4.0 +
- Operating system version: Windows
- Expected behavior: The animated .gif normally animate.
- Actual behavior: Not animated on dialog.Show(), but work with dialog.ShowDialog()
- Steps to reproduce the problem: Create a second Window form with a animate gif and open this window from the main window with "Show()" method. The .gif will not animate.
  I use this window l

[2020-08-11 15:46] thomaslevesque commented on #141
Hi @steffy97,

Interesting... I'm not sure what could be causing this. I'll have a look.

[2020-08-11 15:57] thomaslevesque commented on #141
Hi @steffy97,

I'm unable to reproduce the issue. Are you able to reproduce it in a minimal project (with just the main window and the dialog)?

[2020-08-11 16:18] steffy97 commented on #141
.... I tried, but its worked... I do probably something in my real project who probably block the main UI Thread. The reason why the showdialog work, its probably because this block the thread. The close() action send me on a bad way... Still, I searched for hours before imagining it was a bug. I am very new to WPF. I'm really sorry.  Your project is awesome.

[2020-08-11 16:19] #141 closed

[2020-08-11 16:25] thomaslevesque commented on #141
Don't be sorry, it could totally have been a bug in the library (it still could, actually!)
Feel free to reopen this issue if necessary

[2020-08-11 16:30] steffy97 commented on #141
Thank you!

[2020-11-26 23:11] #133 closed

[2020-11-26 23:11] #137 closed

[2020-11-26 23:14] thomaslevesque commented on #137
v2 is coming soon, with .NET Core 3.1 and .NET 5.0 support

[2020-11-26 23:15] thomaslevesque commented on #133
v2 is coming soon, with a strongly-named assembly

[2020-11-27 00:04] thomaslevesque commented on #137
I just released 2.0.0-alpha.1. Please let me know if you run into issues with it!

[2020-12-21 12:49] Vinayak90 commented on #112
Do you have any updates Thomas, I want to control play and pause from ViewModel.

[2020-12-22 15:28] thomaslevesque commented on #112
Hi @Vinayak90,

Sorry, no progress on this yet. As a workaround, you could write a custom [behavior](https://www.wpftutorial.net/Behaviors.html) to do this; that's what I usually do when direct binding isn't possible.

[2021-03-24 07:58] chancezheng opened #150 "Gif in comboBox template was not valid"
When I was rewrite ComboBox control, I place a <Image/> control which I try to make it gif in ComboBoxItem,
But the drop list of ComboBox was not open,however only alone Image control is ok,

[2021-03-24 09:41] thomaslevesque commented on #150
Hi @chancezheng,

I'm sorry, I don't understand your problem. Could you try to explain it better?

[2021-03-24 11:17] chancezheng commented on #150
![bug](https://user-images.githubusercontent.com/31839078/112301622-18fba600-8cd5-11eb-9d8b-06bb1b9ae451.png)
such as this comboxbox control,I try to change the image into gif of comboboxitem  control, but it does't work well, however only alone Image control is ok

[2021-03-24 11:25] thomaslevesque commented on #150
Could you be more specific? Also, please show the relevant code.

[2021-05-27 00:46] SID9-HoneyBee opened #151 "When installed via Nuget Package on Net 5 (Core), it will be restored to NetFramework."
Net 5 (core) / WPF / C#
This is the Visual Studio 2019 environment.

If you install through Nuget Package like the attached image,
Net Framework is restored.

Should I download the source and use it after compiling with Net5?

![image](https://user-images.githubusercontent.com/76090330/119748580-28af8a80-bed0-11eb-8a10-d90ca50d6351.png)

Additionally,
788kb gif file was called.
(800*600)

I set it

[2021-05-27 09:27] thomaslevesque commented on #151
Hi @SID9-HoneyBee,

That's because the current stable version doesn't target .NET Core / .NET 5. There's an 2.0.0-alpha.1 version that targets .NET Core 3.1. I will release a new stable version soon (with a .NET 5 target)

[2021-05-27 09:29] thomaslevesque commented on #151
About that: yes, it's a known problem. The library doesn't perform well for large GIFs. I have plans to improve this, but to be honest, I don't have a lot of time to maintain this library, so I don't know if or when I will get around to do it...

[2021-05-29 16:42] thomaslevesque commented on #151
Hi @SID9-HoneyBee,

I just published version 2.0.0, which targets .NET 5. This should solve your problem.

[2021-05-29 16:42] #151 closed

[2021-05-31 13:59] SID9-HoneyBee opened #154 "[Q] Can I receive the event when the GIF started playing?"
I have a gif of about 800kb.

Lots of frames.

I tried reducing the size of the gif, but it didn't work. It starts very slowly.

Is it possible to get the event when the GIF starts playing?

Once the gif starts working, I want to do a series of additional actions.

[2021-05-31 14:17] thomaslevesque commented on #154
Hi @SID9-HoneyBee,

I added a new `AnimationStarted` event in the last version, which should do what you want.

You can subscribe in XAML like this:

[code]

Or in code-behind:

[code]

[2021-06-23 10:07] lturek opened #155 "Animating an existing BitmapImage"
Hi,
WPFAnimatedGif was able to use an Imagesource as input. (although in my testing it was animated only with absolute URI)
Is it somehow possible to load in an existing BitmapImage, which was loaded by URI?
I have tried approaches to create Streams from it but none worked.
Maybe you came across one..

[2021-06-23 12:11] thomaslevesque commented on #155
Hi @lturek,

If you have a BitmapImage that was loaded by URI, you can just look at the `UriSource` property to get the URI.

There's no way to pass a BitmapImage directly to XamlAnimatedGif. Doing that in WpfAnimatedGif put a lot of constraints on the code, and was specific to WPF anyway, so I abandoned this approach in XamlAnimatedGif.

[2021-08-05 05:25] SkyEngine-OSP opened #156 "Command Support; or, Ability to Convert Events to Commands using XamlBehavior"
Is there any way to convert this library's Event/s into Command/s?

For example, i'm trying to convert the `AnimationCompleted` Event into a Command since I want to make it work on my `ViewModel` since i am working with a project that follows `MVVM Pattern`. However, it does not trigger the converted Event once the Gif's animation is finished.

I've been converting Events to Commands using XamlBeh

[2021-08-05 14:00] thomaslevesque commented on #156
Hi @SkyEngine-OSP,

AnimationCompleted is an attached event (in the AnimationBehavior) class, so I don't think WPF can find it just based on the name. Maybe try to specify "gif:AnimationBehavior.AnimationCompleted" or something like that? To be honest I'm not sure what the correct syntax is here. I never use EventTrigger.

You could try to create an attached behavior that would subscribe to the ev

[2021-08-27 06:40] penny681028 opened #157 "Some gif cannot display correctly"
**Describe the bug**
Some Gif cannot display correctly

**To Reproduce**
Assign the gif path to display

**Expected behavior**
some area looks like transparent

**Screenshots**
Fail
![image](https://user-images.githubusercontent.com/23231330/131083332-719f3729-1655-4c5f-b97b-ffa84ca41e89.png)
Pass
![image](https://user-images.githubusercontent.com/23231330/131083409-f4021eb1-53a5-448a-a545-4d95d5d

[2021-08-27 14:14] #157 closed, assigned to nobody

[2021-08-30 02:09] penny681028 commented on #157
The fail file download from https://i1.wp.com/dedipic.com/wp-content/uploads/2019/01/trump_hateSpeech.gif?resize=500%2c500&ssl=1, seems the pic resize by some tool. If we download from https://i1.wp.com/dedipic.com/wp-content/uploads/2019/01/trump_hateSpeech.gif, the GIF is ok.

[2021-08-30 07:12] thomaslevesque commented on #157
@penny681028 interesting... So it *is* wordpress. Looks like the resizing process completely reencodes the image, and while doing so, introduces this issue.

[2021-08-31 06:27] HosseinTaarofi commented on #134
What should I use instead of the word siteoforigin?
Because it does not work when I use your code
This is my code now
            <Image x:Name="ImgLoading"  gif:AnimationBehavior.SourceUri="pack://siteoforigin:,,,/ImageResource/Loading.gif"   Height="180" Width="180" Visibility="Visible"    ></Image>

[2021-08-31 06:28] HosseinTaarofi commented on #134
What should I use instead of the word siteoforigin?
Because it does not work when I use your code
This is my code now

`            <Image x:Name="ImgLoading"  gif:AnimationBehavior.SourceUri="pack://siteoforigin:,,,/ImageResource/Loading.gif"   Height="180" Width="180" Visibility="Visible"    ></Image>
`

[2021-08-31 08:04] thomaslevesque commented on #134
@HosseinTaarofi what is the build action for your image? (in the Properties window)
If it's `Content`, use `siteoforigin`
If it's `Resource`, no need to specify the full URL, you can specify the path like this: "ImageResource/Loading.gif"
If it's something else, change it, because it won't work...
My advice is to use Resource, as it's the simplest to use, and it's embedded in the application binar

[2021-09-01 05:06] HosseinTaarofi commented on #134
I want to specify the image path through C # code, not xaml, my problem is that my image path has to be dynamic and change according to different conditions.
My profile is as follows:
I use wpf
My build action is set to content
my OS is win 10 64bit
and my code is
`            string path = Utilities.GetCurrentPath() + "/Images/Venus/epp.gif";
            if (Configuration.Transaction.HostUri.Cont

[2021-09-01 05:10] HosseinTaarofi commented on #134
I want to specify the image path through C # code, not xaml, my problem is that my image path has to be dynamic and change according to different conditions.
My profile is as follows:
I use wpf
My build action is set to content
My os is win10 64bit
and my code is :

            string path = Utilities.GetCurrentPath() + "/Images/Venus/epp.gif";
            if (Configuration.Transaction.HostUri.Con

[2021-09-01 05:13] HosseinTaarofi commented on #134
If possible, send a routing sample according to my code

[2021-09-01 06:04] HosseinTaarofi commented on #134
And let me add this
In this case, the build operation must be set to Resource, otherwise the image will not be displayed
And the main point is that when it is displayed in Resource mode, the first period of the file is not displayed and the display of the file starts from the second period, in fact, the display of the image is delayed.

[2021-09-01 06:20] HosseinTaarofi commented on #134
And let me add this
In this case, the build operation must be set to Resource, otherwise the image will not be displayed
And the main thing is that when displayed in Resource mode, the first file frames are not displayed, in fact, the image is displayed with a delay.

[2021-09-01 06:56] thomaslevesque commented on #134
You don't need `siteoforigin` if you just specify an absolute path for the image. It should just work, assuming the file actually exists. Have you checked with the debugger if you're actually entering the `if (File.Exists(path))`?

Anyway, you really shouldn't do this... if you specify an absolute path to a file that's not part of the application files, it won't work anywhere except on your own ma

[2021-09-01 08:44] HosseinTaarofi commented on #134
Thank you very much for your tips and quick response
My problem was solved

[2021-09-23 05:05] qian-o opened #159 "Intel(R) UHD Graphics显卡无法正常播放"
测试环境：
       处理器：11th Gen Intel(R) Core(TM) i7-11800H @ 2.30GHz
       系统：Windows 11 专业版 21H2 22000.194
       Microsoft Visual Studio Community 2019 版本 16.11.3
拉取XamlAnimatedGif代码后运行XamlAnimatedGif.Demo播放GIF时报错
设置为自动选择时，无法正常播放只显示第一帧
![image](https://user-images.githubusercontent.com/84434846/134460179-9ce7a8fd-e70f-4a64-9347-788579398d50.png)
设置为高性能NVIDIA处理器可以流畅运行
![image](https://user-images.git

[2021-09-23 07:07] thomaslevesque commented on #159
Hi @qian-o,
Sorry, I don't understand Chinese. I'll be glad to try to help you if you open a new issue in English.

[2021-09-23 07:07] #159 closed

[2021-09-23 07:44] qian-o opened #160 "When using XamlAnimatedGif to display online GIF images, the CPU resources are over-utilized."
A lag occurs when multiple network resources are played simultaneously.
CPU : 11th Gen Intel(R) Core(TM) i7-11800H @ 2.30GHz
RAM : 16.0 GB
GPU : RTX 3060 6G
![JS`ZMT@V0F_6JILG77JU(DL](https://user-images.githubusercontent.com/84434846/134471029-d3e771df-d0b8-4e02-a0e3-bbac351507fb.png)

URI : http://47.96.133.119/api/Attachment/GetAttachments/eIfN3z27yS_xNPXPhTRee.gif

[2021-09-23 08:42] thomaslevesque commented on #160
Hi @qian-o,

Yes, I'm aware that this library has performance issues. It's a tradeoff between memory usage and CPU usage. This library was designed to reduce memory usage compared to [WpfAnimatedGif](https://github.com/XamlAnimatedGif/WpfAnimatedGif/), but it means doing much more work on the CPU.

The fact that it's a network resource shouldn't have much impact; the file is downloaded locally bef

[2021-09-23 09:22] qian-o commented on #160
I tried to compare the performance of web resource and local resource. Under the same image, web resource would occupy more CPU, which is 3 times of that occupied by local resource.
Besides, playing web resource in the XamlAnimatedGif.Demo you gave would also occupy a significant share of CPU.
Local resource:
![image](https://user-images.githubusercontent.com/84434846/134483175-9224bed9-3af2-43f2-

[2021-09-23 11:59] thomaslevesque commented on #160
@qian-o I'm not seeing this on my machine. The CPU load is about the same when loading the image from a URL or from a local file (but when loading from a URL for the first time there's a delay before the image shows up, due to the image is being downloaded)

[2021-09-23 14:59] qian-o commented on #160
After repeated tests, I found that when the GIF generation operation is changed to resource and played in the form of a relative path, there will be very little resource occupation.
If it is played in the form of absolute path such as local resource or network resource, it will have extremely high resource occupation.

Resource：
![image](https://user-images.githubusercontent.com/84434846/134531487

[2021-09-23 15:18] thomaslevesque commented on #160
I can't reproduce your results. I tried to compare CPU usage between absolute file path and relative path to a resource, but it doesn't show any significant difference for me. Anyway, the Windows Task Manager isn't a reliable tool for this kind of thing. Many other things can cause spikes in CPU usage.
If your results can't be reproduced on another machine, I'm afraid there's not much I can do...

[2021-09-23 15:21] qian-o commented on #160
Thank you for your reply. I will continue to test in different environments.

[2021-09-24 02:49] qian-o commented on #160
I tried to write the bytes read by FileStream into MemoryStream to do buffer, which could effectively improve the performance.
FileStream：
![image](https://user-images.githubusercontent.com/84434846/134610722-ec30cf4e-9dd2-467f-a738-83bc1873a797.png)

MemoryStream：
![image](https://user-images.githubusercontent.com/84434846/134610776-bf4eccc5-2e19-4e72-a8a9-c822609bef4f.png)

I think the FileStrea

[2021-09-24 07:46] thomaslevesque commented on #160
Yes, loading the file in memory could help, however it would also use more RAM, which is an issue for large GIFs...

[2021-09-24 08:04] qian-o commented on #160
I hope that you will weigh the frequency of using RAM or IO. If there are too many GIF files, they will have a significant impact on the performance.

[2021-09-24 08:08] thomaslevesque commented on #160
Maybe I could make it optional on a case-by-case basis

[2021-09-24 08:11] qian-o commented on #160
OK, thank you for your reply.

[2021-09-24 17:07] egauthierphy opened #161 "Animation plays one frame then stops"
Only on a new Microsoft Surface Pro 7+, the first frame of the GIF is displayed but the next are not shown.

I created a small WPF application that only displays a 4 frame GIF.

![numbers-animated](https://user-images.githubusercontent.com/36052122/134713774-51b858db-36ad-437c-adf8-d65b6d47388b.gif)

I'm using VStudio 2019 (16.10.4), targeting .NET 5. The PCs I tested on are all various builds of

[2021-09-24 19:14] egauthierphy commented on #161
This was a graphics driver issue: https://github.com/dotnet/wpf/issues/3817

Fixed by upgrading the driver to the latest version (30.0.100.9864).

[2021-09-24 19:16] #161 closed

[2021-09-24 21:13] thomaslevesque commented on #161
Hi @egauthierphy,

Glad you were able to solve this!

[2021-10-10 06:42] qian-o opened #163 "System.Reflection.TargetInvocationException"
Throw an exception when you try to empty the contents of a RichTextBox
![image](https://user-images.githubusercontent.com/84434846/136685599-06a0ca41-b6fd-48c4-acb5-33ad3a8c19e1.png)
![image](https://user-images.githubusercontent.com/84434846/136685554-3cd33458-ee59-46d6-a186-863620c3e589.png)
![image](https://user-images.githubusercontent.com/84434846/136685557-d979068c-dfb6-4e40-9e90-09299286aa2

[2021-10-11 11:48] qian-o commented on #163
OK, thank you for your answering and look forward to the release of the new version of XamlAnimatedGif. If you can solve the previous problem (#160), it may help solve many problems of my project.

[2021-10-11 12:33] thomaslevesque commented on #160
Actually, I don't think I will implement this in the library itself, because it can easily be done by the user, and handling this to the library would just add unnecessary complexity.
You can just copy the `FileStream` to a `MemoryStream` and pass the `MemoryStream` to `SetSourceStream`, like you did in your tests.

[2021-10-11 12:38] thomaslevesque commented on #163
Version 2.0.2 is published to NuGet (it might take a few minutes before it's publicly visible)

[2021-10-15 08:10] thomaslevesque commented on #154
Closing due to inactivity

[2021-10-15 08:10] #154 closed

[2021-10-15 08:13] #150 closed

[2021-10-17 15:55] thomaslevesque commented on #160
Actually, this might actually be useful. While it's true that the user could do the memory caching themselves, it means being unable to set the source as a URI. I'll try to add an option to load images in memory in a future version.

[2021-11-19 06:19] lukaslober opened #165 "Memory leak at multi threading scenarios"
**Describe the bug**
I tried to use this library to build an animated splashscreen.
Therefore I open a new window in another thread wich contains the gif control.
It's another thread because the caller should not be blocked.

**To Reproduce**
`    private void ButtonBase_OnClick(object sender, RoutedEventArgs e)
        {
            var t = new Thread(Start);
            t.SetApartmentState(Apart

[2021-11-19 09:15] thomaslevesque commented on #165
Hi @lukaslober,

Thanks for reporting this.

Yes, if that's indeed the case, it's certainly the cause of this issue.

I'm not sure this is relevant to the problem you're seeing, because closing a window doesn't involve the app shutting down.

Anyway, I'll need to do some tests to understand what's going on exactly.

In the meantime, maybe you could manually clear the animation when the window clos

[2021-11-19 10:24] lukaslober commented on #165
Hi @thomaslevesque ,

thanks for looking into this.
I tried `AnimationBehavior.SetSourceUri(image, null)` on this windows closing event but it doesn't change anything.
What is working is to call `AnimationBehavior.SetSourceUri(image, null)`  **not** at the closing event.
Maybe it is too late here. I created a button where I call this. If I click the button before closing the window.
No leaks anymo

[2021-11-19 12:56] thomaslevesque commented on #165
I can reproduce the Unloaded event not being fired when window is shown on another thread:

[code]

"Unloaded" is never printed. If I call Splash on the main thread, it is printed when I close the window.

Not sure what's going on here...

[2021-12-21 05:31] chancezheng commented on #165
There is a blog about when wpf controls's unload event can be fired,[UnloadedEvent](http://blog.walterlv.com/post/wpf-unloaded-event-not-fired.html)

[2022-08-18 06:43] vvyoko opened #168 "SetSourceStream dont work?"
**Please complete the following information:**
- Application type:  WPF 4.0 / WPF 4.5+
- Operating system version: WIN10 19044

**Additional context**
The path contains the `Uri ` of certain characters, there will be errors
see https://github.com/dotnet/runtime/issues/27399

So I want to use `SetSourceStream `
But when I refer to the example, it cannot work
Whether it contains the path of special

[2022-08-18 12:21] thomaslevesque commented on #168
Hi @vvyoko,

I think this is because the stream is disposed immediately after you assign it (at the end of the `using` block). It needs to remain open as long as you're showing the animation. In the example, it works because the stream isn't disposed until after the window is closed.

[2022-08-18 13:05] #168 closed, assigned to nobody

[2022-09-11 02:19] Teravus opened #170 "Manually using the animator. Calling Pause() Twice causes animation to not resume when calling Resume();"
**Describe the bug**
If I pause the animation twice with the animation controller, the animation will not resume when I call Resume()

I have an animated image gif that I'm using as a cursor.   When the user moves the mouse over something that would trigger a response if they clicked, I call pause on the animator.  When the mouse is not over something, I resume the animation.
I found that once I p

[2022-09-12 03:04] thomaslevesque commented on #170
Thanks @Teravus for reporting and fixing this! I just released [2.0.3](https://github.com/XamlAnimatedGif/XamlAnimatedGif/releases/tag/2.0.3).

[2022-09-12 03:04] #170 closed

[2022-09-26 03:35] samnaseri opened #173 "Deleted"

[2022-09-26 03:42] meaysam opened #174 "Add a property to opt-in for cache to improve performance"
Adding a few gifs to UI can slow down the UI or make it not responsive.
I want to suggest to add a property to choose caching frame bytes instead of recalculating them every time. This cache could happen before or after decompression. So, I think such a property can have three values "None", "CacheCompressed", "Cache". None would be current behavior. CacheCompressed would be to cache values after

[2022-09-26 12:28] #173 closed

[2022-09-26 12:32] thomaslevesque commented on #174
Hi @meayseam,

Thanks for the suggestion!

Actually, not keeping the frames in memory was one of the design goals of this library, to avoid the memory usage issues that users of [WpfAnimatedGif](https://github.com/XamlAnimatedGif/WpfAnimatedGif) ran into. But I realize it's not always the right thing to do, and in some scenarios, having good performance is more important than keeping memory usage

[2022-11-17 04:00] xiangbao opened #176 "XamlAnimatedGif does't work on Win11"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Please complete the following information:**
- .NET version:
- Operating system version:
- If you're having

[2022-11-17 04:08] thomaslevesque commented on #176
Hi @xiangbao,

I just checked, it works fine.

You're not providing _any_ information in the issue. Please provide more details on what isn't working, or I won't be able to do anything about it...

[2022-11-21 03:41] thomaslevesque commented on #174
Closed by #175
Thanks again, @meaysam!
I published a [new release](https://github.com/XamlAnimatedGif/XamlAnimatedGif/releases/tag/2.1.0)

[2022-11-21 03:41] #174 closed

[2022-11-21 03:50] thomaslevesque commented on #45
This has been implemented in [2.1.0](https://github.com/XamlAnimatedGif/XamlAnimatedGif/releases/tag/2.1.0) (PR #175)

[2022-11-21 03:50] #45 closed